title = "Личный кабинет"
url = "/cabinet/:modal?"
layout = "default"

[session]
security=user
redirect="/"
[loadCode]
autoload=true
==
<?php
public function onStart()
{
    $modal = $this->param('modal');
    if ($modal == 'greeting') {
        $this['showGreeting'] = true;
    } elseif ($modal == 'loadmore') {
        $this['showLoadMore'] = true;
    }
}
?>
==
<div class="cabinet-content">
    <div class="cabinet-content-inner">
        <div class="well well-full">
            <div class="cabinet-item">{{user.getPhoneFormatted}}</div>
            <div class="cabinet-item">{{user.name}}</div>
            <div class="cabinet-item">{{user.email}}</div>
            <div class="cabinet-logout">
                <a href="#" class="logout-btn" data-request="onLogout"></a>
            </div>
        </div>
        <div class="clearfix">
            <div class="well well-half">
                <div class="cabinet-item yellow">{{'Всего кодов:'|_}} {{user.tickets.count}}</div>
                <div class="cabinet-item-desc white">
                    {% for ticket in user.tickets %}
                    {{ticket.number}}{{not loop.last?', ':''}}
                    {% endfor %}
                </div>
            </div>
            <div class="well well-half">
                <div class="cabinet-item yellow">{{'Всего призов:'|_}} {{user.winnings.count}}</div>
                <div class="cabinet-item-desc white">
                    {{user.getAchievedWinning.prize.name}}
                </div>
            </div>
        </div>
    </div>
    {#<div class="cabinet-reg-code-form">
        <form id="form-load-cab">
            <div class="form-row">
                <div class="form-control">
                    <input type="text"
                        name="code"
                        placeholder="{{'ВВЕДИ КОД'|_}}"
                        data-toggle="mask"
                        data-mask="AAAAAAAAA"
                        data-validation="mask"
                        data-validation-mask="9"
                        data-validation-error-msg="{{'Укажите уникальный код полностью.'|_}}"
                        data-ajax-errors="1"
                        required>
                    <span class="help-block form-ajax-errors-custom"></span>
                    <span class="help-block form-ajax-error">{{'Ошибка. Данный КОД уже зарегистрирован.<br/> Горячая линия 8-800-070-1096.'|_}}</span>
                </div>
            </div>
            <div class="form-row captcha-row">
                <div class="form-control">
                    <div id="grecaptcha-cab" class="g-recaptcha" data-sitekey="{{captchaKey}}"></div>
                    <span class="help-block form-ajax-error">{{'Нужно пройти каптчу.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input id="form-load-cab-submit" class="btn btn-red btn-large" type="submit" value="{{'Зарегистрировать'|_}}">
                </div>
            </div>
        </form>
    </div>#}
</div>
<style>
    footer {display: none;}
</style>
