title = "Главная страница"
url = "/:default?/:code?"
layout = "default"

[resetPassword]
==
<?php
    public function onStart()
    {
        $code = $this->param('code');
        if ($code && strlen($code) <= 20) {
            $this['showResetForm'] = true;
        }
    }
?>
==
<div>
    <div class="main-image">
        <img class="image-full" src="{{ 'assets/images/index-bg-min.png'|theme }}" alt="">
        <img class="image-mobile" src="{{ 'assets/images/index-bg-small-min.png'|theme }}" alt="">
    </div>
    <div class="home-content">
        <div class="home-content-inner">
            <img class="top-image" src="{{ 'assets/images/top-images.png'|theme }}" alt="">
            <div class="sticker-image"></div>
            <div class="choose-hochland yellow">{{'Выбирай сыр Hochland<br>c промостикером'|_}}</div>
            {% if user %}
            <a href="#" class="btn btn-red btn-larger" onclick="registerCode()">{{'Регистрируй код'|_}}</a>
            {% else %}
            <a href="#" class="btn btn-red btn-larger" onclick="auth(); return false;">{{'Регистрируй код'|_}}</a>
            {% endif %}
            <div class="and-win yellow">{{'И выигрывай!'|_}}</div>

            <div class="home-prize"></div>
        </div>
    </div>
</div>
