title = "Modals"
url = "/modals"
layout = "default"
is_hidden = 1
==
<div>

    <ul style="width: 400px; margin: 32px auto; font-family: RotondaC; list-style: none">
        <li><a href="" onclick="registerSuccess(); return false;">Успешная регистрация</a></li>
        <li><a href="" onclick="registerCode(); return false;">Регистрация кода</a></li>
        <li><a href="" onclick="thankYou(); return false;">Спасибо!</a></li>
        <li><a href="" onclick="auth(); return false;">Авторизация</a></li>
        <li><a href="" onclick="fail(); return false;">Извините!</a></li>
        <li><a href="" onclick="congrats(); return false;">Поздравляем!</a></li>
        <li><a href="" onclick="passwordRestore(); return false;">Смена пароля</a></li>
        <li><a href="" onclick="passwordRestore2(); return false;">Смена пароля. Ошибки</a></li>
        <li><a href="" onclick="passwordRestore3(); return false;">Смена пароля. Пароль успешно изменен</a></li>
        <li><a href="" onclick="passwordRestore4(); return false;">Смена пароля. Ссылка отправлена</a></li>
    </ul>

    <!-- Окно успешной регистрации -->
    <div class="modal register-success-modal">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Регистрация прошла успешно!</div>
        <div class="modal-body">
            <div class="yellow modal-text">
                ЗАГРУЗИ СВОЙ ПЕРВЫЙ КОД<br>И УЧАСТВУЙ В РОЗЫГРЫШЕ ПРИЗОВ
            </div>
            <form action="">
                <div class="form-row">
                    <div class="form-control error">
                        <input class="code-input" type="text" placeholder="ВВЕДИ КОД">
                    </div>
                    <div class="error-message">
                        <span class="long">Проверьте правильность написания уникального кода</span>
                        <span class="short">ОШИБКА! Данный код уже зарегистрирован.</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-control error">
                        <!--<div class="g-recaptcha" data-sitekey="6LfvKCIUAAAAAB9ziJxMLml6SvuFGTGym2g9Wjok"></div>-->
                    </div>
                    <div class="error-message">Нужно пройти каптчу</div>
                </div>
                <div class="form-row">
                    <div class="form-control">
                        <input type="submit" value="ЗАРЕГИСТРИРОВАТЬ" class="btn btn-red btn-large">
                    </div>
                </div>
            </form>
            <div class="reg-and-win">
                <div class="reg-and-win-image"></div>
                <div class="reg-and-win-text yellow">Регистрируй<br>коды и выигрывай призы!</div>
            </div>
        </div>
    </div>

    <!-- Регистрация кода -->
    <div class="modal register-code-modal">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Регистрация кода</div>
        <div class="modal-body">
            <form action="">
                <div class="form-row">
                    <div class="form-control error">
                        <input class="code-input" type="text" placeholder="ВВЕДИ КОД">
                    </div>
                    <div class="error-message">
                        <span class="long">Проверьте правильность написания уникального кода</span>
                        <span class="short">ОШИБКА! Данный код уже зарегистрирован.</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-control error">
                        <div class="g-recaptcha" data-sitekey="6LfvKCIUAAAAAB9ziJxMLml6SvuFGTGym2g9Wjok"></div>
                    </div>
                    <div class="error-message">Нужно пройти каптчу</div>
                </div>
                <div class="form-row">
                    <div class="form-control">
                        <input type="submit" value="ЗАРЕГИСТРИРОВАТЬ" class="btn btn-red btn-large">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Спасибо! -->
    <div class="modal thank-you-modal">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Спасибо!</div>
        <div class="modal-body">
            <div class="yellow modal-text bigger">
                Твой код принят<br>и участвует в розыгрыше
            </div>
            <div class="prize-img">
                <img src="{{ 'assets/images/reg-and-win-img.png'|theme }}" alt="">
            </div>
            <div class="yellow modal-text big wide want-more">
                Хочешь зарегистрировать еще код?
            </div>
            <input type="submit" value="ЗАРЕГИСТРИРОВАТЬ" class="btn btn-red btn-large">
        </div>
    </div>

    <!-- Авторизация -->
    <div class="modal auth-modal">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Авторизация</div>
        <div class="modal-body">
            <form action="">
                <div class="form-row">
                    <div class="form-control">
                        <input type="text" data-mask="+7 (000) 000 00 00" placeholder="+7 (___) ___ __ __">
                    </div>
                    <div class="error-message">Такого номера нет в базе. Попробуй еще раз!</div>
                </div>
                <div class="form-row">
                    <div class="form-control error">
                        <input type="password" placeholder="ПАРОЛЬ">
                    </div>
                    <div class="error-message">Неверный пароль. Попробуй еще раз!</div>
                </div>
                <div class="form-row">
                    <div class="form-control">
                        <input type="submit" value="ВОЙТИ" class="btn btn-red btn-large">
                    </div>
                </div>
            </form>
            <div class="modal-text smaller">
                <a href="" class="forgot-password yellow">Забыли пароль?</a>
            </div>
            <div class="reg-button-container">
                <div class="reg-button-text modal-text white big">Еще не зарегистрирован?</div>
                <a href="" class="btn btn-large btn-blue">Зарегистрируйся</a>
            </div>
            <div class="reg-and-win">
                <div class="reg-and-win-image"></div>
                <div class="reg-and-win-text yellow">Регистрируй<br>коды и выигрывай призы!</div>
            </div>
        </div>
    </div>

    <!-- Извините! -->
    <div class="modal fail-modal">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Извините!</div>
        <div class="modal-body">
            <div class="yellow modal-text big wide">
                Код не погашен.<br>По условиям акции ты можешь погасить только 20 кодов.
            </div>
            <input type="submit" value="OK" class="btn btn-red btn-large btn-ok">
        </div>
    </div>

    <!-- Поздравляем! -->
    <div class="modal congrats-modal">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Поздравляем!</div>
        <div class="modal-body">
            <div class="yellow modal-text bigger">
                Твой код принят.<br>На баланс телефона<br>будет зачислено <span class="bold">50 <span class="tenge">тг</span></span>.
            </div>
            <div class="prize-img">
                <img src="{{ 'assets/images/phone.png'|theme }}" alt="">
            </div>
            <a class="btn btn-red btn-large btn-ok modal-close">OK</a>
        </div>
    </div>

    <!-- Восстановление пароля -->
    <div class="modal password-restore-modal password-restore">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Восстановление пароля</div>
        <div class="modal-body">
            <div class="modal-text big hint">
                Введи электронный адрес, указанный при регистрации.
            </div>
            <form action="">
                <div class="form-row">
                    <div class="form-control error">
                        <input type="text" placeholder="EMAIL">
                    </div>
                    <div class="error-message">Такой e-mail не зарегистрирован.<br>Попробуй еще раз или <a href="" class="restore-reg-link yellow">зарегистрируйся</a>.</div>
                </div>
                <div class="form-row">
                    <div class="form-control">
                        <input type="submit" value="ВОССТАНОВИТЬ" class="btn btn-red btn-large">
                    </div>
                </div>
            </form>
            <div class="back-to-auth">
                <a href="" class="white big">Вернуться к <span>авторизации</span></a>
            </div>
        </div>
    </div>

    <!-- Восстановление пароля 2 -->
    <div class="modal password-restore-modal-2 password-restore">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Восстановление пароля</div>
        <div class="modal-body">
            <div class="modal-text white big password-restore-hint-outer">
                <div class="password-restore-hint-inner">
                    Придумай новый пароль
                </div>
            </div>
            <form action="">
                <div class="form-row">
                    <div class="form-control error">
                        <input type="password" placeholder="ВВЕДИ НОВЫЙ ПАРОЛЬ">
                    </div>
                    <div class="error-message">Придумай пароль длиннее 4-х символов.</div>
                </div>
                <div class="form-row">
                    <div class="form-control error">
                        <input type="password" placeholder="ПОВТОРИ НОВЫЙ ПАРОЛЬ">
                    </div>
                    <div class="error-message">Введенные пароли не совпадают.</div>
                </div>
                <div class="form-row">
                    <div class="form-control">
                        <input type="submit" value="СМЕНИТЬ ПАРОЛЬ" class="btn btn-red btn-large">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Восстановление пароля 3 -->
    <div class="modal password-restore-modal-3 password-restore">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Восстановление пароля</div>
        <div class="modal-body">
            <div class="modal-text white big password-restore-hint-outer">
                <div class="password-restore-hint-inner">
                    Пароль успешно изменен,<br>авторизуйся:
                </div>
            </div>
            <form action="">
                <div class="form-row">
                    <div class="form-control error">
                        <input type="password" placeholder="ВВЕДИ НОВЫЙ ПАРОЛЬ">
                    </div>
                    <div class="error-message">Придумай пароль длиннее 4-х символов.</div>
                </div>
                <div class="form-row">
                    <div class="form-control error">
                        <input type="password" placeholder="ПОВТОРИ НОВЫЙ ПАРОЛЬ">
                    </div>
                    <div class="error-message">Введенные пароли не совпадают.</div>
                </div>
                <div class="form-row">
                    <div class="form-control">
                        <input type="submit" value="СМЕНИТЬ ПАРОЛЬ" class="btn btn-red btn-large">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Восстановление пароля 4 -->
    <div class="modal password-restore-modal-4 password-restore">
        <a href="" class="modal-close modal-close-btn">X</a>
        <div class="modal-header">Восстановление пароля</div>
        <div class="modal-body">
            <div class="modal-text big hint password-restore-message">
                На твой e-mail отправлена ссылка для восстановления пароля
            </div>
            <a href="" class="btn btn-red btn-large btn-ok">OK</a>
        </div>
    </div>

</div>
<style>
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }
</style>
