title = "Призы"
url = "/prizes"
layout = "default"
==
<div class="prize-content">
    <div class="prize prize-1">
        <div class="prize-img-container">
            <!--<div class="prize-img"></div>-->
            <div class="prize-img-cont">
                <img src="{{ 'assets/images/prizes/prizes-50.png'|theme }}" alt="">
            </div>
        </div>
        <div class="prize-desc">
            <div class="prize-header">{{'Гарантированные'|_}}</div>
            <div class="prize-header yellow">{{'50 <span class="tenge">тг.</span> на баланс'|_}}</div>
            <div class="prize-desc-text">{{'вашего мобильного<br>телефона (40 000 призов)'|_}}</div>
        </div>
    </div>
    <div class="prize prize-2">
        <div class="prize-img-container">
            <!--<div class="prize-img"></div>-->
            <div class="prize-img-cont">
                <img src="{{ 'assets/images/prizes/prizes-50k.png'|theme }}" alt="">
            </div>
        </div>
        <div class="prize-desc">
            <div class="prize-header">{{'Каждый день'|_}}</div>
            <div class="prize-header yellow">{{'Общий призовой<br>фонд - 50 000 <span class="tenge">тг.</span>'|_}}</div>
            <div class="prize-desc-text">{{'10 счастливчиков выигрывают<br>по 5 000 тенге!'|_}}</div>
        </div>
    </div>
    <div class="prize prize-3">
        <div class="prize-img-container">
            <!--<div class="prize-img"></div>-->
            <div class="prize-img-cont">
                <img src="{{ 'assets/images/prizes/prizes-smart.png'|theme }}" alt="">
            </div>
        </div>
        <div class="prize-desc">
            <div class="prize-header">{{'Каждую неделю'|_}}</div>
            <div class="prize-header yellow">{{'Популярный смартфон'|_}}</div>
            <div class="prize-desc-text">{{'Победитель определяется среди кодов,<br>зарегистрированных с понедельника<br>по воскресенье'|_}}</div>
        </div>
    </div>
</div>
