title = "Вопросы-ответы"
url = "/question"
layout = "default"

[feedbackForm]
[contentFaq]
==
<?php
use Kosmo\Profile\Models\Location;

public function onStart()
{
    $this['locations'] = Location::getLocationOptions();
}
?>
==
<div class="form-content question-content">
    {#<div class="question-hint">
        <p>{{'Если хочешь задать вопросы, заполни форму ниже.'|_}}</p>
        <p>{{'Прежде чем задать вопрос, прочитай <a href="/storage/app/media/rules/rules.pdf" class="yellow">полные правила участия</a>.'|_}}</p>
    </div>#}
    <div class="question-hint">
        <p>{{'Посмотри список наиболее часто задаваемых вопросов. Возможно, там есть и твой.<br>
        Если не нашел ответ, пиши нам, мы обязательно поможем.<br><br>
        <span class="yellow">Не забудь написать свой e-mail и мобильный, который указал при регистрации.</span><br><br>
        Если у тебя вопрос по регистрации кода, обязательно укажи номер кода<br>
        и способ его регистрации (через SMS или сайт).'|_}}</p>

    </div>
    <form id="form-feedback" class="question-form">
        <div>
            <div class="form-row float-field">
                <div class="form-control">
                    <!--data-mask="+7 (000) 000 00 00"-->
                    <!--data-toggle="mask"-->
                    <!--data-validation="mask"-->
                    <!--data-validation-mask="10"-->
                    <input class="phone-field"
                           type="text"
                           name="phone"
                           placeholder="+7 (___) ___ __ __"
                           data-mask="+7 (999) 999 99 99"
                           data-validation="mask"
                           data-validation-mask="{{phoneMask.length}}"
                           data-validation-error-msg="{{'Укажите мобильный телефон полностью.'|_}}"
                           required>
                </div>
            </div>
            <div class="form-row float-field">
                <div class="form-control">
                    <input type="text"
                           name="name"
                           data-validation="length"
                           data-validation-length="2-64"
                           data-validation-error-msg="{{'Должно быть не менее 2 символов.'|_}}"
                           placeholder="{{'ИМЯ'|_}}"
                           maxlength="64"
                           required>
                </div>
            </div>
            <div class="form-row float-field">
                <div class="form-control">
                    <input type="email"
                           name="email"
                           placeholder="{{'E-MAIL'|_}}"
                           data-validation="email"
                           data-validation-length="6-64"
                           data-validation-error-msg="{{'Неправильный e-mail.'|_}}"
                           maxlength="64"
                           required>
                </div>
            </div>
            <div class="form-row float-field">
                <div class="form-control">
                    <select name="city_id"
                            size="1"
                            data-validation="select"
                            data-validation-error-msg="{{'Укажите город.'|_}}"
                            required>
                        <option value="" disabled>{{'ГОРОД'|_}}</option>
                        {% for location in locations %}
                        <option value="{{location.id}}">{{location.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div>
            <div class="form-row question-row">
                <div class="form-control">
                    <div class="question-text-wrapper">
                    <textarea name="message"
                              class="question-text"
                              placeholder="{{'ТВОЙ ВОПРОС'|_}}"
                              data-validation="length"
                              data-validation-length="8-256"
                              data-validation-error-msg="{{'Должно быть не менее 8 символов.'|_}}"
                              maxlength="256"
                              required></textarea>
                    </div>
                </div>
            </div>
            <div class="form-row question-button-container">
                <div class="form-control">
                    <input id="form-feedback-submit" type="submit" value="{{'Отправить'|_}}" class="btn btn-red btn-large question-button">
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </form>

    {% partial 'faq_accordion' %}

</div>

<!-- Спасибо! -->
<div class="modal feedback-ok-modal" data-href="/">
    <a href="/" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Спасибо!'|_}}</div>
    <div class="modal-body">
        <div class="yellow modal-text bigger">
            {{'Твое сообщение отправлено.'|_}}
        </div><br>
        <div class="yellow modal-text big wide want-more">
            {{'Мы скоро свяжемся с тобой.'|_}}
        </div>
    </div>
</div>
