title = "Регистрация"
url = "/register"
layout = "default"

[session]
security = "guest"
redirect = "/"
==
<?php
use Kosmo\Profile\Models\Location;

public function onStart()
{
    return Redirect::to('/');
    $this['locations'] = Location::getLocationOptions();
}
?>
==
<div class="form-content">
    <p>{{'Убедись, что все указанные данные достоверны, иначе мы не сможем тебя найти в случае выигрыша и вручить приз.'|_}}</p>
    <p>{{'Возможности редактировать данные не будет.<br>Все поля обязательны к заполнению.'|_}}</p>
    <form id="registration" class="reg-form">
        <div class="form-row">
            <div class="form-control">
                <input type="text"
                    name="phone"
                    placeholder="+7 (___) ___ __ __"
                    data-mask="+7 (000) 000 00 00"
                    data-toggle="mask"
                    data-validation="mask"
                    data-validation-mask="10"
                    data-validation-error-msg="{{'Укажите мобильный телефон полностью.'|_}}"
                    data-ajax-errors="1"
                    required>
                <span class="help-block form-ajax-error">{{'Такой номер телефона уже зарегистрирован.'|_}}</span>
                <span class="help-block form-ajax-errors-custom"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <input type="text"
                    name="name"
                    data-validation="length"
                    data-validation-length="2-64"
                    data-validation-error-msg="{{'Должно быть не менее 2 символов.'|_}}"
                    placeholder="{{'Имя'|_}}"
                    maxlength="64"
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <input type="email"
                    name="email"
                    placeholder="{{'E-MAIL'|_}}"
                    data-validation="email"
                    data-validation-length="6-64"
                    data-validation-error-msg="{{'Неправильный e-mail.'|_}}"
                    maxlength="64"
                    required>
                <span class="help-block form-ajax-error">{{'Такой e-mail уже зарегистрирован на сайте. Проверь указанный номер или авторизируйся.'|_}}</span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <select name="city_id"
                    size="1"
                    data-validation="select"
                    data-validation-error-msg="{{'Укажите город.'|_}}"
                    required>
                    <option value="" disabled>{{'ГОРОД'|_}}</option>
                    {% for location in locations %}
                    <option value="{{location.id}}">{{location.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="help-block">{{'Все поля обязательны для заполнения.'|_}}</div>
        </div>
        <div class="form-row">
            <div class="form-control">
                <input type="password"
                    name="password"
                    placeholder="{{'ПАРОЛЬ'|_}}"
                    data-validation="length"
                    data-validation-length="4-16"
                    data-validation-error-msg="{{'Придумай пароль длинней 4 символов.'|_}}"
                    maxlength="16"
                    required>
            </div>
            <div class="help-block">{{'Все поля обязательны для заполнения.'|_}}</div>
        </div>
        <div class="form-row">
            <div class="form-control age-selector-container">
                <select name="age"
                    size="1"
                    data-validation="select"
                    data-validation-error-msg="{{'Укажите возраст.'|_}}"
                    required>
                    <option value="0" disabled>{{'ВОЗРАСТ'|_}}</option>
                    {% for age in 18..90 %}
                    <option value="{{age}}">{{age}}</option>
                    {% endfor %}
                </select>
                <div class="help-block">{{'Все поля обязательны для заполнения.'|_}}</div>
            </div>
            <div class="form-control gender-selector-container">
                <div class="checkbox-container">
                    <input id="gender-male" type="radio" name="gender" value="male" checked>
                    <label for="gender-male"><span></span>{{'М'|_}}</label>
                </div>
                <div class="checkbox-container">
                    <input id="gender-female" type="radio" name="gender" value="female">
                    <label for="gender-female"><span></span>{{'Ж'|_}}</label>
                </div>
            </div>
            <div class="help-block">{{'Все поля обязательны для заполнения.'|_}}</div>
        </div>
        <div class="form-row error">
            <div class="form-control">
                <div class="checkbox-container">
                    <input id="terms-and-conditions" type="checkbox"
                        name="is_agree"
                        value="1"
                        data-validation="checkbox_group"
                        data-validation-qty="min1"
                        data-validation-error-msg="{{'Необходимо согласиться с правилами акции.'|_}}"
                        required>
                    <label for="terms-and-conditions">
                        <span></span>{{'Я согласен с <a class="terms-and-conditions-link" href="/storage/app/media/rules/rules.pdf">правилами акции</a>'|_}}
                    </label>
                </div>
            </div>

        </div>
        <div class="form-row">
            <input id="registration-submit" type="submit" value="{{'ЗАРЕГИСТРИРОВАТЬСЯ'|_}}" class="btn btn-red btn-large">
        </div>
    </form>
    <div class="reg-sign-in">
        <span class="yellow">{{'Уже зарегистрировался?'|_}}</span>
        <div>
            <a href="#" class="yellow" onclick="auth();">{{'Войти на сайт'|_}}</a>
        </div>
    </div>
</div>
