title = "Правила"
url = "/rules"
layout = "default"
==
<div class="rules-content">
    <div class="rules-row rules-row-simple">
        <div class="rules-cell rule-1">
            <div class="rule-number">1</div>
            <!--<div class="rule-image"></div>-->
            <div class="rule-image-cont"><img src="{{ 'assets/images/rules/rules-step-1.png'|theme }}" alt=""></div>
            <div class="rule-text">{{'Выбери сыр Hochland<br>c промостикером!'|_}}</div>
        </div>
        <div class="rules-cell rule-2">
            <div class="rule-number">2</div>
            <!--<div class="rule-image"></div>-->
            <div class="rule-image-cont"><img src="{{ 'assets/images/rules/rules-step-2.png'|theme }}" alt=""></div>
            <div class="rule-text">{{'Найди код под защитным<br>слоем стикера'|_}}</div>
        </div>
        <div class="rules-cell rule-3">
            <div class="rule-number">3</div>
            <!--<div class="rule-image"></div>-->
            <div class="rule-image-cont"><img src="{{ 'assets/images/rules/rules-step-3.png'|theme }}" alt=""></div>
            <div class="rule-text">{{'Отправь смс* с кодом на <span class="yellow">7102</span><br>или зарегистрируй на сайте'|_}}</div>
        </div>
    </div>
    <div class="rules-row rules-row-big">
        <div class="rules-cell">
            <div class="rule-number">4</div>
            <div class="big-rule-left">
                {{'<span class="yellow">ПОЛУЧИ</span><br>гарантированные 50 тг.<br>на баланс мобильного **'|_}}
                <div class="big-rule-gap yellow">
                    {{'и жди результатов<br>розыгрыша'|_}}
                </div>
            </div>
            {#<div class="big-rule-right">
                Ежедневный призовой<br>
                фонд - <span class="yellow">50 000 тенге.</span>
                <div class="big-rule-gap">
                    <span class="yellow">Смартфон -</span><br>
                    каждую неделю.
                </div>
            </div>#}
        </div>
        <div class="big-rule-right">
            {{'Ежедневный призовой<br>фонд - <span class="yellow">50 000 тенге.</span>'|_}}
            <div class="big-rule-gap">
                {{'<span class="yellow">Смартфон -</span><br>каждую неделю.'|_}}
            </div>
        </div>
        <div class="step-4-cont">
            <img src="{{ 'assets/images/rules/rules-step-4.png'|theme }}" alt="">
        </div>
    </div>
    <div class="rules-info-row clearfix">
        <div class="rules-info-left">
            {{'* Стоимость смс 7 тг. включая НДС для всех сотовых сетей РК<br>** кол-во призов ограничено – 40 000 шт'|_}}
        </div>
        <div class="rules-info-right">
            {{'C полными правилами<br>можно ознакомиться <a href="/storage/app/media/rules/rules.pdf" class="yellow">здесь</a>'|_}}
        </div>
    </div>
</div>
