title = "Победители"
url = "/winners"
layout = "default"

[winningsTable]
==
<?php
use Kosmo\Quiz\Models\Prize;

public function onStart()
{
    $this['prizes'] = Prize::achieved()->get();
}
?>
==
<div class="winners-content">
    <div class="prizes-counter">
        <div class="prizes-counter-inner">
            <div class="prizes-left">{{'Осталось призов:'|_}}</div>
            <div class="prizes-counter-container"
                id="counter"
                data-refresh="onCheckPrizes"
                data-refresh-delay="30"
                data-refresh-partial="counter">
                {% partial 'counter' %}
            </div>
            <div class="prizes-counter-desc">{{'мобильных единиц'|_}}</div>
            <div class="prizes-counter-stamp"></div>
        </div>
    </div>
    <div class="smartphone-box">

    </div>
    <div class="prizes-list">
        <div class="prizes-list-stamp"></div>
        <div class='tabs'>
            <div class="tabs-border"><div class="tabs-border-inner"></div></div>
            <ul class='horizontal'>
                <li>
                    <div class="first-tab-border tab-border"></div>
                    <a class="yellow" href="#weekly">{{'Смартфон'|_}}</a>
                    <div class="tab-bg"></div>
                </li>
                <li>
                    <div class="second-tab-border tab-border"></div>
                    <a href="#daily">{{'5000 тенге'|_}}</a>
                    <div class="tab-bg"></div>
                </li>
            </ul>
        </div>
        <div id='tabs-container'>
            <div class="tab-content" id='weekly'>
                <div class="winners-table" id="table-weekly">
                    {% partial 'tables/table' winners=weeklyWinners %}
                </div>
                <div class="pagination" id="table-weekly-pagination" data-type="weekly" data-paginate="onPaginateWinners" data-paginate-template="tables/pagination" data-paginate-target="table-weekly" data-paginate-partial="tables/table">
                    {% partial 'tables/pagination' pagination=weeklyPagination %}
                </div>
            </div>
            <div class="tab-content" id='daily'>
                <div class="winners-table" id="table-daily">
                    {% partial 'tables/table' winners=dailyWinners %}
                </div>
                <div class="pagination" id="table-daily-pagination" data-type="daily" data-paginate="onPaginateWinners" data-paginate-template="tables/pagination" data-paginate-target="table-daily" data-paginate-partial="tables/table">
                    {% partial 'tables/pagination' pagination=dailyPagination %}
                </div>
            </div>
        </div>
    </div>

</div>
