<div class="report-widget">
    <h3><?= $this->property('title') ?></h3>
    <? if (!empty($items['total'])): ?>
    <? $dataTotal = [] ?>
    <? $dataFacebook = [] ?>
    <? $dataVkontakte = [] ?>
    <? $dataWebsite = [] ?>
    <? foreach ($items['total'] as $ts => $item): ?>
        <? $dataTotal[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <? foreach ($items['fb'] as $ts => $item): ?>
        <? $dataFacebook[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <? foreach ($items['vk'] as $ts => $item): ?>
        <? $dataVkontakte[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <? foreach ($items['web'] as $ts => $item): ?>
        <? $dataWebsite[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <div
        class="control-chart wrap-legend"
        data-control="chart-line"
        data-zoomable="0"
        data-chart-options="xaxis: {mode: 'time', timeformat: '%d.%m'}, yaxis: {min: 0}, series: {lines: {show: true, fill: false}, points: {show: true}}, legend: {show: true, noColumns: 0}"
        style="width:100%; height:200px">
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataTotal)?>' data-set-label='Всего'>
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataFacebook)?>' data-set-label='Facebook'>
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataVkontakte)?>' data-set-label='ВКонтакте'>
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataWebsite)?>' data-set-label='Сайт'>
    </div>
    <br><br>
    <div class="table-container" style="overflow: auto;">
        <table class="table data" data-provides="rowlink">
            <thead>
                <tr>
                    <th><span>Пользователи</span></th>
                    <? foreach ($items['total'] as $ts => $item): ?>
                        <th><span><?= date('d.m', $ts) ?></span></th>
                    <? endforeach; ?>
                    <th><span>Всего</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Facebook</span></td>
                    <? foreach ($items['fb'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['fb'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>ВКонтакте</span></td>
                    <? foreach ($items['vk'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['vk'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>Сайт</span></td>
                    <? foreach ($items['web'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['web'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>Всего</span></td>
                    <? foreach ($items['total'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['total'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>Qiwi (в том числе)</span></td>
                    <? foreach ($items['qiwi'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['qiwi'] ?></strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    <? endif; ?>
</div>
