<div class="report-widget">
    <h3><?= $this->property('title') ?></h3>
    <? if(!empty($items)): ?>
    <div
        class="control-chart wrap-legend"
        data-control="chart-line"
        data-zoomable="0"
        data-chart-options="xaxis: {mode: 'time', timeformat: '%d.%m'}, yaxis: {min: 0}, series: {lines: {show: true, fill: false}, points: {show: true}}, legend: {show: true, noColumns: 0}"
        style="width:100%; height:200px">
        <? foreach ($types as $key => $value): ?>
            <span data-chart="dataset" data-set-data='<?=implode(',', $data[$key])?>' data-set-label='<?= $key ?>'>
        <? endforeach; ?>
    </div>
    <br><br>
    <div class="table-container" style="overflow: auto;">
        <table class="table data" data-provides="rowlink">
            <thead>
                <tr>
                    <th><span>Количество разданных призов</span></th>
                    <? foreach ($items['total'] as $ts => $item): ?>
                        <th><span><?= date('d.m', $ts) ?></span></th>
                    <? endforeach; ?>
                    <th><span>Всего</span></th>
                </tr>
            </thead>

            <tbody>
                <? foreach ($types as $key => $value): ?>
                <tr>
                    <td><span><?= $value ?></span></td>
                    <? foreach ($items[$key] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results[$key] ?></strong></td>
                </tr>
                <? if (isset($subitems[$key])): ?>
                    <? foreach ($subitems[$key] as $name => $subitem): ?>
                        <tr>
                            <td><span style="margin-left:5px;">- <?= $name ?></span></td>
                            <? foreach ($subitem as $ts => $value): ?>
                                <td><?= $value ?></td>
                            <? endforeach; ?>
                            <td><strong><?= $results[$name] ?></strong></td>
                        </tr>
                    <? endforeach; ?>
                <? endif; ?>
                <? endforeach; ?>
                <?/*
                <tr>
                    <td><span>За правильные ответы</span></td>
                    <? foreach ($items['question'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['question'] ?></strong></td>
                </tr>
                <? foreach ($subitems as $name => $subitem): ?>
                    <tr>
                        <td><span style="margin-left:5px;">- <?= $name ?></span></td>
                        <? foreach ($subitem as $ts => $value): ?>
                            <td><?= $value ?></td>
                        <? endforeach; ?>
                        <td><strong><?= $results[$name] ?></strong></td>
                    </tr>
                <? endforeach; ?>
                <tr>
                    <td><span>Всего</span></td>
                    <? foreach ($items['total'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['total'] ?></strong></td>
                </tr>
                */?>
            </tbody>

        </table>
    </div>
    <? endif; ?>
</div>
