{% if faqs|length %}
<div id="faq" data-collapse="accordion" class="accordion">
    {% for faq in faqs %}
        <h2 class="accordion__title"><img src="{{ 'assets/images/accordion-arrow.png'|theme }}" alt="">{{ faq.question|raw }}</h2>
        <div class="accordion__text">{{ faq.answer|raw }}</div>
    {% endfor %}
</div>
{% endif %}
