<a href="/" class="logo"></a>
<a href="#" class="mobile-nav-btn"></a>
<div class="header-nav-container">
    <a href="#" class="close-menu-btn"></a>
    <ul class="header-nav left-side">
        <li><a {% if 'rules' in this.page.url %}class="active"{% endif %} href="/rules">{{'Правила'|_}}</a></li>
        <li><a {% if 'prizes' in this.page.url %}class="active"{% endif %} href="/prizes">{{'Призы'|_}}</a></li>
        <li class="gap-right"><a {% if 'winners' in this.page.url %}class="active"{% endif %} href="/winners">{{'Победители'|_}}</a></li>
    </ul>
    <ul class="header-nav right-side">
        <li class="gap-left"><a {% if 'question' in this.page.url %}class="active"{% endif %} href="/question">{{'FAQ'|_}}</a></li>
        {% if user %}
        <li><a href="#" class="btn btn-red btn-middle" onclick="registerCode()">{{'Ввести код'|_}}</a></li>
        <li><a {% if 'cabinet' in this.page.url %}class="active"{% endif %} href="/cabinet">{{'Личный кабинет'|_}}</a></li>
        {% else %}
        <li><a href="#" class="btn btn-red btn-middle" onclick="auth()">{{'Ввести код'|_}}</a></li>
        <li><a href="#" onclick="auth()">{{'Личный кабинет'|_}}</a></li>
        {% endif %}
    </ul>
    <div class="clear"></div>
    
</div>
<div class="language-switcher">
    {% for code, name in locales %}
    <a href="#" class="{{(activeLocale == code)?'active':''}}" data-request="onSwitchLocale" data-request-data="locale: '{{code}}'">{{code|upper}}</a>
    {% if not loop.last %}|{% endif %}
    {% endfor %}
</div>
