html {height: 100%}
body {height: 100%; text-align: center; font: 0/0 a;}
.ph-container {display: inline-block; vertical-align: middle; height: 100%;}
.ph-container img {display:inline-block;vertical-align: middle;}
.ph-container:after {
    display: inline-block;
    content: ' ';
    height: 100%;
    vertical-align: middle;
}