/*======================================
  Selectric v1.11.1
======================================*/

.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  /*border: 1px solid #DDD;
  border-radius: 0px;
  background: #F8F8F8;
  position: relative;
  overflow: hidden;*/
  position: relative;
  height: 44px;
  width: 244px;
  font-size: 20px;
  font-family: RotondaC;
  text-align: center;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #abc4d9;
  outline: none;
  color: #0275ae;
  -webkit-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
  box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
  text-align: center;
  text-align-last: center;
  margin: 0 auto;
  background-color: #ffffff;
}

.age-selector-container .selectric {
  width: 124px;
  height: 34px;
}
/*.age-selector-container .chosen-container-single .chosen-single span {
  height: 34px;
  line-height: 34px;
  margin-left: 12px;
}*/

.selectric .label {
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*margin: 0 38px 0 10px;*/
  /*font-size: 12px;
  line-height: 38px;
  color: #444;
  height: 38px;*/
  padding: 11px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.age-selector-container .selectric .label {
  padding: 6px 0;
  margin-right: 10px;
}



.selectric .button {
  /*display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #F8f8f8;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;*/
  position: absolute;
  display: block;
  width: 13px;
  height: 12px;
  background: url(../images/chosen-sprite.png) no-repeat;
  top: 16px;
  right: 10px;
  background-position: 0 -12px;
  color: transparent;
}
.age-selector-container .selectric .button {
  top: 12px;
  right: 6px;
}

.selectric .button:after {
  /*content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;*/
}

.selectric-focus .selectric {
  border-color: #aaaaaa;
}

.selectric-hover .selectric {
  border-color: #c4c4c4;
}

/*.selectric-hover .selectric .button {
  !*color: #a2a2a2;*!
  background-position: 0 0;
}*/

.selectric-hover .selectric .button:after {
  border-top-color: #a2a2a2;
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: #c4c4c4;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -121px;
  /*background: #F8F8F8;
  border: 1px solid #c4c4c4;*/
  z-index: -1;

}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
  width: 200px;
  margin: 0 auto;
  background: #ffffff;
}
.age-selector-container .selectric-items .selectric-scroll {
  width: 88px;
}
.age-selector-container .selectric-items {
  margin-left: -62px;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 10px;
  color: #666;
  cursor: pointer;
  text-transform: uppercase;
}

.selectric-items li.selected {
  background: #E0E0E0;
  color: #444;
}

.selectric-items li.highlighted {
  /*background: #D0D0D0;
  color: #444;*/
  background-color: #3875d7;
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

.selectric-items li:hover {
  background-color: #3875d7;
  color: #ffffff;
  /*background: #D5D5D5;
  color: #444;*/
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}
