@font-face {
    font-family: 'RotondaCBold';
    src: url('../fonts/RotondaC-Bold_kz.eot');
    src: url('../fonts/RotondaC-Bold_kz.eot?#iefix') format('embedded-opentype'), url('../fonts/RotondaC-Bold_kz.svg#rotonda') format('svg'), url('../fonts/RotondaC-Bold_kz.woff') format('woff'), url('../fonts/RotondaC-Bold_kz.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'RotondaC';
    src: url('../fonts/RotondaC_kz.eot');
    src: url('../fonts/RotondaC_kz.eot?#iefix') format('embedded-opentype'), url('../fonts/RotondaC_kz.svg#rotonda') format('svg'), url('../fonts/RotondaC_kz.woff') format('woff'), url('../fonts/RotondaC_kz.ttf') format('truetype');
    font-style: normal;
}
body {
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}
html * {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: #06346f;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*body {padding-bottom: 90px;}*/
/* HEADER */
header {
    background-image: url('../images/header-bg-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 138px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
header .logo {
    position: absolute;
    left: 50%;
    margin-left: -90.5px;
    width: 181px;
    height: 124px;
    display: block;
    top: 10px;
    background-image: url('../images/logo-min.png');
    z-index: 1;
}
.header-nav-container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding-top: 62px;
}
.close-menu-btn {
    position: absolute;
    background-image: url('../images/back-arrow.png');
    height: 62px;
    width: 83px;
    left: 50%;
    margin-left: -41.5px;
    top: 36px;
    display: none;
}
.language-switcher {
    position: absolute;
    right: 44px;
    top: 0;
    background-color: #013b7b;
    width: 93px;
    height: 42px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: RotondaCBold;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.language-switcher a {
    font-family: RotondaCBold;
    font-size: 18px;
}

.header-nav {
    list-style: none;
    width: 50%;
    display: block;
    font-family: RotondaCBold;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0; /* Чтобы не было пробелов между пунктами меню */
    height: 26px;
    line-height: 26px;
}
.header-nav li {
    font-size: 18px;
}

.header-nav.left-side {
    float: left;
    margin-left: -26px;
}
.header-nav.left-side li {
    position: relative;
}
.header-nav.left-side li:first-child {
    padding-left: 0;
}
.header-nav.left-side li + li:after {
    content: ' ';
    width: 2px;
    background-color: #00aeef;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 0;
}
.header-nav.left-side li + li {
    margin-left: -1px;
}
.header-nav.right-side {
    text-align: right;
    float: right;
    margin-right: -18px;
}
.header-nav.right-side li:first-child {

}
.header-nav li {
    display: inline-block;
}
.header-nav li a {
    padding: 0 26px;
}
.header-nav.right-side li a {
    padding: 0 18px;
}
.header-nav.right-side li a.btn-red {
    padding: 1px 14px;
}
.header-nav li a.active {
    color: #fff200;
    text-decoration: underline;
}
.short {display: none}
/* FOOTER */
footer {
    padding: 16px;
    font-family: RotondaCBold;
    /* height: 60px; */
    background-color: #0a346f;
    color: #ffffff;
    /* line-height: 60px; */
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
/* COMMON */
#layout-content {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding-bottom: 80px;}
a {color: #ffffff;text-decoration: none;}
a:hover {
    color: #fff200;
}
a:active, a.active {
    color: #fff200;
    text-decoration: underline;
}
.btn {
    cursor: pointer;
    outline: none;
    display: inline-block;
    background-size: contain;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-red {
    background-image: url('../images/button-red-bg.png');
}
.btn-blue {
    background-image: url('../images/button-blue-bg.png');
}
.btn-middle {
    height: 26px;
    line-height: 26px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.btn-large {
    line-height: 50px;
    -webkit-border-radius:26px;
    -moz-border-radius:26px;
    border-radius:26px;
    font-family: RotondaCBold;
    padding: 0 24px;
    height: 50px;
    font-size: 22px;
}
.btn-larger {
    line-height: 1;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 45px;
    font-family: RotondaCBold;
    font-size: 37.7px;
    padding: 20px 31px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-large.btn-ok {
    padding: 0 36px;
}
.btn:hover {
    color: #ffffff;
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,0.64);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,0.64);
    box-shadow: inset 0px 0px 5px 2px rgba(255,255,255,0.64);
}
.btn:active {
    color: #ffffff;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
    text-decoration: none;
}
.clear {
    clear: both;
}
html {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/* MAIN */
.top-image {
    display: none;
}
.home-content {
    font-family: RotondaCBold;
    width: 880px;
    margin:0 auto;
    text-align: center;

}
.home-content-inner {
    width: 400px;
    position: relative;
}
.sticker-image {
    width: 212px;
    height: 178px;
    background-image: url(../images/sticker-big.png);
    margin: 0 auto;
    /* background-position: 25px; */
    background-repeat: no-repeat;
    margin-right: 72px;
}
.home-prize {
    position: absolute;
    background-image: url(../images/main-prize.png);
    width: 973px;
    height: 455px;
    top: -49px;
    left: 106px;
    z-index: -1;
}
.choose-hochland {
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}
.and-win {
    font-size: 33.7px;
    text-transform: uppercase;
    margin-top: 12px;
}
.main-image .image-mobile {
    display: none;
}
.main-image {
    /*margin-top:-139px;
    max-width: 100%;
    !*main-image*!
    background-image: url('../images/index-bg.png');
    height: 534px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;*/
}
.main-image img {
    max-width:100%;
    margin-top: -139px;
}

/* REGISTRATION */
.form-content {
    width: 528px;
    text-align: center;
    color: #ffffff;
    margin: -40px auto 0 auto;
    font-family: RotondaC;
    font-size: 18px;
    padding: 56px 19px 32px 19px;
    /*background-image: url('../images/form-bg.png');*/
    background-repeat: repeat-y;
    position: relative;
}
.form-content:after {    content: ' ';
    position: absolute;

    top: 0;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 105px 86px rgba(0,160,228,1);
    -moz-box-shadow: 0px 0px 105px 86px rgba(0,160,228,1);
    box-shadow: 0px 0px 105px 86px rgba(0,160,228,1);
    background-color: #00a0e4;
    opacity: .29;
    z-index: -1;
}

.form-content p {
    margin: 0 0 12px 0;
    line-height: 1;
}
/*input:not([type=checkbox]):not([type=submit]) {*/
.form-control input:not([type=checkbox]):not([type=submit]) {
    height: 44px;
    width: 244px;
    font-size: 20px;
    font-family: RotondaC;
    text-align: center;
    -webkit-border-radius:32px;
    -moz-border-radius:32px;
    border-radius:32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #abc4d9;
    outline: none;
    color: #0275ae;
    -webkit-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
}
input:not([type=checkbox]):not([type=submit]).age-selector {
    height: 38px;
    width: 128px;
}
::-webkit-input-placeholder {color: #0275ae;}
::-moz-placeholder {color: #0275ae;}
:-ms-input-placeholder {color: #0275ae;}
:-moz-placeholder {color: #0275ae;}
.error ::-webkit-input-placeholder {color: #ed1c24;}
.error ::-moz-placeholder {color: #ed1c24;}
.error :-ms-input-placeholder {color: #ed1c24;}
.error :-moz-placeholder {color: #ed1c24;}
input:not([type=checkbox]):not([type=submit]).error,
.error input:not([type=checkbox]):not([type=submit]) {
    border: 2px solid #ed1c24 !important;
}
.has-error ::-webkit-input-placeholder {color: #ed1c24;}
.has-error ::-moz-placeholder {color: #ed1c24;}
.has-error :-ms-input-placeholder {color: #ed1c24;}
.has-error :-moz-placeholder {color: #ed1c24;}
input:not([type=checkbox]):not([type=submit]).has-error,
.has-error input:not([type=checkbox]):not([type=submit]) {
    border: 2px solid #ed1c24 !important;
}
.has-error .g-recaptcha,
.has-ajax-error .g-recaptcha,
.has-ajax-error-custom .g-recaptcha {
    border: 2px solid #ed1c24 !important;
}

form .form-row {
    position: relative;
}
form .form-control + .help-block,
form .question-text-wrapper .help-block,
form .form-control .help-block {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff200;
    font-size: 15px;
    padding-top: 8px;
    font-family: RotondaC;
}
form .question-text-wrapper .help-block {top: auto;}
form .form-control .help-block {position: relative}
form .captcha-row .form-control .help-block {
    padding-top: 0;
}
form .form-control.has-error .form-error,
form .question-text-wrapper.has-error .form-error,
form .checkbox-container.has-error .form-error {
    display: block;
}
form .form-control.has-error .form-ajax-error,
form .form-control.has-error .form-ajax-errors,
form .form-control.has-error .form-ajax-errors-custom,
form .form-control.has-success .form-ajax-error,
form .form-control.has-success .form-ajax-errors,
form .form-control.has-success .form-ajax-errors-custom {
    display: none !important;
}
form .form-control.has-ajax-error .form-ajax-error,
form .form-control.has-ajax-error .form-ajax-errors {
    display: block;
}
form .form-control.has-ajax-error-custom .form-ajax-errors-custom{
    display: block;
}

form .form-control select {
    width: 244px;
}
form .form-control.age-selector-container select {
    width: 124px;
}
form .form-row + .form-row {
    /*margin-top: 39px;*/
    margin-top: 16px;
}
form.question-form .form-row + .form-row {
    margin-top: 45px;
}
#reg-form, .reg-form {
    margin-top: 28px;
}
.terms-and-conditions-link {text-decoration: underline}
input[type="checkbox"], input[type="radio"] {
    display: none;
}
form label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    font-size: 16.7px;
}
form .gender-selector-container label {
    font-size: 20px;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    display: inline-block;
}
input[type="checkbox"] + label span, input[type="radio"] + label span {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #ffffff;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
    box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.35);
    position: relative;
    margin-top: -4px;
    float: left;
    margin-right: 8px;
}
input[type="checkbox"]:checked + label span:after, input[type="radio"]:checked + label span:after {
    content: ' ';
    position: absolute;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #00aef0;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
}
.gender-selector-container input[type="checkbox"] + label span, .gender-selector-container input[type="radio"] + label span {
    margin-top: -2px;
    margin-right: 7px;
}
.gender-selector-container .checkbox-container + .checkbox-container {
    margin-left: 6px;
}
.form-control.error input[type="checkbox"] + label span,
.form-control.error input[type="radio"] + label span,
.form-control.has-error input[type="checkbox"] + label span,
.form-control.has-error input[type="radio"] + label span {
    border: 2px solid #ed1c24;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.age-selector-container {
    margin-right: 12px;
    margin-left: 11px;
}
.age-selector-container, .gender-selector-container, .checkbox-container {
    display: inline-block;
    vertical-align: middle;
}
.gender-selector-container {
    font-family: RotondaCBold;
}
.yellow {
    color: #fff200;
}
.yellow a {
    color: #fff200;
    text-decoration: underline;
}
.white {
    color: #ffffff;
}
.reg-sign-in {
    margin-top: 16px;
}
.reg-sign-in a {
    font-family: RotondaCBold;
    text-transform: uppercase;
    text-decoration: underline;
}
/* MODALS */
.modal {
    width: 430px;
    /*//border: 4px solid rgba(255, 255, 255, .65);*/
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,.65);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,.65);
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,.65);
    display: none;
    -webkit-border-radius:52px;
    -moz-border-radius:52px;
    border-radius:52px;
    position: relative;
    min-height: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 60px;
    text-align: center;
    font-family: RotondaC;
}
.modal.password-restore {
    height: 420px;
}
.modal-close-btn {
    position: absolute;
    font-family: RotondaCBold;
    font-size: 30px;
    color: #ffffff;
    top: 19px;
    right: 21px;
}
.modal-close-btn:active {
    text-decoration: none;
}
.modal-header {
    text-transform: uppercase;
    font-family: RotondaCBold;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 18px;
}
.modal {
    background-image: url('../images/reg-modal-bg-min.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 422px;
}
.register-success-modal, .auth-modal {
    height: 638px;
}
.register-code-modal, .thank-you-modal {
    padding-bottom: 64px;
}
.register-code-modal .g-recaptcha {
    width: 304px;
    margin-left: -6px;
}
.fail-modal {
    padding-bottom: 34px;
}
.auth-modal form .form-row + .form-row {
    margin-top: 46px;
}
.auth-modal.modal form {
    margin-bottom: 14px;
}
.password-restore-modal-2.modal form,
.password-restore-modal-3.modal form {
    margin-top: 6px;
}
.password-restore-modal-2.modal form .form-row + .form-row,
.password-restore-modal-3.modal form .form-row + .form-row{
    margin-top: 44px;
}
.password-restore-modal-2 .modal-header,
.password-restore-modal-3 .modal-header {
    margin-bottom: 8px;
}
.password-restore .btn-large {
    font-size: 24px;
}
.thank-you-modal {
    padding-bottom: 34px;
}
.thank-you-modal .want-more {
    margin-top: 10px;
    margin-bottom: 16px;
}
.register-code-modal .modal-header {
    margin-bottom: 56px;
}
.modal form {
    /*margin: 22px -32px 0 -32px;*/
    margin: 22px -20px 0 -20px;
}
.modal.password-restore-modal form {
    margin-top: 30px;
}
.modal.password-restore-modal form .form-row + .form-row {
    margin-top: 60px;
}
.modal form input[type=submit] {
    width: 264px;
}
.g-recaptcha {
    /*width: 304px;*/
    margin: 0 auto;
    height: 78px;
    transform: scale(0.8);
}
.modal .error  .g-recaptcha {
    border: 2px solid #ed1c24;
}
.register-success-modal .btn-large {
    line-height: 48px;
    padding: 0 22px;
    height: 48px;
    font-size: 24px;
}
.modal-text {
    text-transform: uppercase;
    font-size: 18px;
    font-family: RotondaC;
}
.modal-text.hint {
    text-transform: none;
    color: #ffffff;
}
.modal-text.bigger {
    font-size: 22px;
}
.modal-text.smaller {
    font-size: 16px;
}
.modal-text.big {font-size: 20px;}
.modal-text.big.lower {text-transform: none}
.modal .wide {
    margin-left: -32px;
    margin-right: -32px;
}

.reg-and-win-text {
    position: absolute;
    font-family: RotondaCBold;
    text-transform: uppercase;
    width: 200px;
    float: right;
    font-size: 20px;
    margin-right: -40px;
    margin-top: 98px;
    right: 68px;
    bottom: 47px;
}
.reg-and-win-image {
    background-image: url(../images/reg-and-win-img.png);
    width: 342px;
    height: 196px;
    position: absolute;
    bottom: 20px;
    left: -63px;
    background-position: -76px 0;
    pointer-events: none;
}
.auth-modal .reg-and-win-image {
    background-position: -36px 34px;
    background-size: 346px 164px;
    background-repeat: no-repeat;
}
/*input:not([type=checkbox]):not([type=submit]).code-input {
    width: 264px;
}*/
.modal.info-modal .btn-larger{font-size: 22px;}
.modal input:not([type=checkbox]):not([type=submit]) {
    width: 264px;
}
.thank-you-modal .prize-img img {
    width: 396px;
    height: 186px;
    margin-left: -80px;
    margin-top: -22px;
}
.forgot-password {
    text-decoration: underline;
}
.reg-button-container {
    /*background-image: url('../images/reg-button-bg.png');*/
    background-color: #0152a0;
    margin-left: -60px;
    margin-right: -60px;
    height: 137px;
    position: relative;
    margin-top: 24px;
    padding-top: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.reg-button-container__inner {
    position: absolute;
    top: 3px;
    width: 100%;
    height: 131px;
    background-image: url('../images/reg-button-container.png');
}
.reg-button-container .btn {
    width: 264px;
    margin-top: 12px;
    font-size: 24px;
    position: relative;
    z-index: 1;
}
.reg-button-container .reg-button-text {position: relative; z-index: 1}
.fail-modal .modal-text {
    margin-top: 106px;
    margin-bottom: 104px;
}
.congrats-modal .modal-text {
    margin-top: 24px;
}
.congrats-modal .prize-img {
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 4px;
}
.congrats-modal {
    padding-bottom: 32px;
}
.bold {
    font-family: RotondaCBold;
}
.tenge {
    font-size: 18px;
}
.password-restore-modal .modal-header {
    margin-bottom: 25px;
}
.restore-reg-link {
    text-transform: uppercase;
    text-decoration: underline;
}
.back-to-auth {
    margin-top: 14px;
    margin-bottom: 24px;
    font-size: 20px;
}
.back-to-auth a span {
    text-decoration: underline;
}
.back-to-auth a:active {
    text-decoration: none;
}
.password-restore-hint-outer {
    height: 46px;
    display: table;
    width: 100%;
    margin-bottom: 16px;
}
.password-restore-hint-inner {
    display: table-cell;
    vertical-align: middle;
}
.password-restore-message {
    width: 290px;
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 60px;
}
/* FAQ */
.question-content {
    width: 1000px;
}
.question-hint {
    margin-top: 48px;
    margin-bottom: 48px;
    font-size: 20px;
    text-transform: uppercase;
}
.question-hint p a {
    text-decoration: underline;
}
.question-hint p {
    margin-bottom: 3px;
}
.question-text-wrapper {
    resize: none;
    font-size: 20px;

    text-align: center;
    -webkit-border-radius:24px;
    -moz-border-radius:24px;
    border-radius:24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #abc4d9;
    outline: none;
    -webkit-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    margin: 6px auto 0 auto;
    width: 100%;
    height: 138px;
    padding: 11px;
    background-color: #ffffff;
}
.form-row.question-row .form-control {padding: 4px;}
.question-text {
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    color: #0275ae;
    text-align: center;
    font-family: RotondaC;
}
.question-text-wrapper.has-error {
    border: 2px solid #ff0000;
}
/*textarea{
    height:138px;
    width: 100%;
    text-align: center;
    font-family: RotondaC;
    resize:none;
    overflow:hidden;
    outline:none;
    margin: 0;
    border:none;
    background:transparent;
    box-shadow: none;
    height: 106px;
}

.textarea-wrapper{
    overflow:hidden;
    -webkit-border-radius:24px;
    -moz-border-radius:24px;
    border-radius:24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #abc4d9;
    outline: none;
    color: #0275ae;
    -webkit-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.39);
    margin: 0 auto;
    width: 302px;
    height: 138px;
    padding: 11px;
    text-align: center;
    background-color: #ffffff;
}

.textarea-clone{
    position:absolute;
    top:-9999px;
    left:-9999px;
    visibility:hidden;
    min-height: 160px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.textarea-wrapper .mCSB_scrollTools{ margin: 10px 5px; }*/
form.question-form .form-row + .form-row.question-row {
    margin-top:50px;
}
.form-row.question-row {float: left; width: 75%;}
.form-row.question-button-container {float: left; width: 25%;}
form.question-form .form-row + .form-row.question-button-container {

}
.question-button {
    font-size: 24px;
    width: 244px;
}

/* CABINET */
.cabinet-logout {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 31px;
    height: 34px;
}
.logout-btn {
    background-image: url('../images/logout-btn.png');
    width: 31px;
    background-image: url(../images/logout-btn.png);
    height: 34px;
    display: block;
    position: absolute;
}
.cabinet-content {
    width: 696px;
    margin: 0 auto;
}
.cabinet-content .well {
    background-color: #02458a;
    color: #ffffff;
    font-family: RotondaC;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
    padding: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cabinet-content .well-half {
    width: 331px;
    float: left;
    text-align: center;
    padding-top: 20px;
    min-height: 198px;
}
.cabinet-content .well-half + .well-half {
    margin-left: 34px;
}
.cabinet-item {
    background-color: #043a78;
    -webkit-border-radius:16px;
    -moz-border-radius:16px;
    border-radius:16px;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(22,191,243,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(22,191,243,1);
    box-shadow: 0px 0px 10px 0px rgba(22,191,243,1);
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    width: 195px;
    overflow: hidden;
    padding: 2px 5px;
    box-sizing: border-box;
}
.well-half .cabinet-item {
    font-size: 20px;
    width: 260px;
}
.cabinet-item + .cabinet-item {
    margin-left: 11px;
}
.cabinet-content .well-full {
    margin-bottom: 31px;
    position: relative;
}
.cabinet-item-desc {
    font-size: 20px;
    margin-top: 20px;
}
.cabinet-reg-code-form {
    background-image: url('../images/reg-code-form-bg-min.png');
    background-repeat: no-repeat;
    width: 503px;
    /*height: 350px;*/
    margin: 54px auto 0 auto;
    text-align: center;
    padding-top: 54px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 46px;
    background-size: 100% 100%;
}
/* PRIZES */
.prize-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    min-heighative;
    width: 1200px;
    margin: 0 auto;
    min-height: 800px;
}
.prize-desc {color: #ffffff; text-align: center}
.prize-header {
    font-size: 25.4px;
    text-transform: uppercase;
    font-family: RotondaCBold;
}
.prize-header .tenge {
    font-size: 20px;
}
.prize-desc-text {
    font-family: RotondaCBold;
    color: #ffffff;
    font-size: 20px;
}
.prize-img-container {
    width: 415px;
    height: 325px;
    position: relative;
}
.prize-img-container .prize-img {
    position: absolute;
    top: 0;
    left: 0;
}
.prize-1, .prize-2, .prize-3 {
    position: absolute;
    width: 415px;
}
.prize-1 .prize-img {
    width: 448px;
    height: 325px;
    background-image: url(../images/prizes-1-min.png);
    background-position: -2px -428px;
}
.prize-2 .prize-img {
    width: 415px;
    height: 325px;
    background-image: url(../images/prizes-1-min.png);
    background-position: -27px -824px;
}
.prize-3 .prize-img {
    margin-left: -20px;
    width: 415px;
    height: 325px;
    background-image: url(../images/prizes-1-min.png);
    background-position: -30px -19px;
}
.prize-1 {
    left: -9px;
    top: 83px;
}
.prize-2 {
    left: 50%;
    margin-left: -203px;
    top: 154px;
}
.prize-3 {
    right: -12px;
    top: 82px;
}
.prize-2 .prize-desc-text, .prize-3 .prize-desc-text {
    margin-top: 9px;
}
.prize-img-cont {width: 470px; height: 400px;}
.prize-img-cont img {width: 100%;}
.prize-1 .prize-img-cont {position: absolute; top: -27px;}
.prize-2 .prize-img-cont {position: absolute;left: -27px;top: -23px;}
.prize-3 .prize-img-cont {position: absolute;top: -18px;left: -50px;}

/* RULES */
.rules-content {
    width: 1150px;
    margin: 0 auto;
    padding-top: 112px;
}
.rule-number {
    font-family: RotondaCBold;
    font-size: 113.8px;
    color: #009ce1;
}
.rule-1 .rule-image-cont img, .rule-2 .rule-image-cont img, .rule-3 .rule-image-cont img {width: 100%;}
.rule-1 .rule-image-cont {position: absolute;top: -46px;left: 79px;width: 276px;height: 193px;}
.rule-2 .rule-image-cont {position: absolute;top: -46px;left: 99px;width: 218px; height: 193px}
.rule-3 .rule-image-cont {position: absolute;top: -46px;left: 58px;width: 328px; height: 193px;}
.rule-1 {
    padding-left: 47px;
}
.rule-2 {
    padding-left: 50px;
}
.rule-3 {
    padding-left: 9px;
}
.rules-row:first-child .rules-cell {
    width: 33.3%;
    float: left;
}
.rules-cell {
    font-family: RotondaCBold;
    color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.rule-image {
    background-image: url('../images/rules-min.png');
    position: absolute;
}
.rule-1 .rule-image {
    top: -41px;
    width: 269px;
    height: 185px;
    left: 76px;
    background-position: -206px 3px;
}
.rule-2 .rule-image {
    top: -45px;
    width: 206px;
    height: 178px;
    left: 101px;
}
.rule-3 .rule-image {
    width: 318px;
    height: 162px;
    top: -29px;
    left: 60px;
    background-position: -483px 0;
}
.rules-row-simple {
    height: 200px;
}
.rules-row-big {
    margin-top: 139px;
    position: relative;
}
.rules-row-big:after {
    /*z-index: -1;
    content: ' ';
    position: absolute;
    top: -138px;
    left: 3px;
    width: 100%;
    height: 352px;
    background-image: url(../images/rules-min.png);
    background-position: 0 -198px;
    background-repeat: no-repeat;*/
}
.step-4-cont {position: absolute;top: -154px;left: 53px;width: 1069px;height: 379px;z-index:-1;}
.step-4-cont img {width: 100%}
.rules-row-big .rules-cell {
    padding-left: 30px;
    height: 250px;
}
.rule-text {
    font-size: 23.9px;
    width: 100%;
    text-align: center;
    line-height: 23px;
}
.rule-1 .rule-text {
    margin-left: -10px;
    margin-top: 17px;
}
.rule-2 .rule-text {
    margin-left: -33px;
    margin-top: 17px;
}
.rule-3 .rule-text {
    margin-left: -10px;
    margin-top: 15px;
}
.big-rule-left {
    position: absolute;
    left: 101px;
    top: 16px;
    font-size: 24px;
    line-height: 29px;
}
.big-rule-right {
    position: absolute;
    right: 75px;
    top: 43px;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    font-family: RotondaCBold;
    color: #ffffff;
}
.big-rule-gap {
    text-transform: uppercase;
    margin-top:23px;
}
.big-rule-right .big-rule-gap {
    margin-top: 16px;
    line-height: 29px;
}
.rules-info-row {
    font-family: RotondaCBold;
    color: #6dcff6;
    font-size: 17.21px;
    padding-left: 101px;
    padding-right: 46px;
    line-height: 20px;
}
.rules-info-left {
    float: left;
}
.rules-info-right {
    float: right;
    text-align: right;
}
.mobile-nav-btn {
    top: 26px;
    position: absolute;
    width: 50px;
    height: 26px;
    background-image: url(../images/mobile-menu.png);
    left: 32px;
    display: none;
    background-size: 50px 26px;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    top: 0;
    display: none;
    z-index: 1;
}
.mobile-nav {
    background: url(../images/bg.jpg) no-repeat fixed;
    position: fixed;
    display: none;
    z-index: 1;
    width: 250px;
    height: 100%;
    background-size: cover;
    display: none;
    -webkit-box-shadow: 7px 0px 5px 0px rgba(255,255,255,0.3);
    -moz-box-shadow: 7px 0px 5px 0px rgba(255,255,255,0.3);
    box-shadow: 7px 0px 5px 0px rgba(255,255,255,0.3);
    text-align: center;
}
/* WINNERS */
.winners-content {
    margin: 0 auto;
    width: 810px;
}
.winners-content .tabs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.winners-content .tabs li a {
    position: relative;
    z-index: 1;
}
.winners-content .tabs li + li {
    margin-left: 4px;
}
.winners-content .tabs li {
    font-size: 25px;
    display: inline-block;
    width: 212px;
    height: 45px;
    font-family: RotondaCBold;
    padding-top: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.winners-content .tabs li .tab-bg {
    -webkit-border-top-left-radius: 23px;
    -webkit-border-top-right-radius: 23px;
    -moz-border-radius-topleft: 23px;
    -moz-border-radius-topright: 23px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    background-color: #0275ae;
    position: absolute;
    height: 100%;
    top: 0px;
    width: 212px;
    border: 7px solid #0275ae;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: none;
}
.winners-content .tabs li:first-child .tab-bg {
    width: 227px;
    top: 0px;
    left: 56px;
}
.winners-content .tabs li.active .tab-bg {
    background-color: transparent;
}
.tabs-border {
    height: 7px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 76px;
    padding-right: 160px;
    box-sizing: border-box;
    background-image: url('../images/right-side-bg.png');
    background-position: right;
    background-repeat:no-repeat;
}
.tabs-border-inner  {
    background-color: #0275ae;
    height: 100%;
}
.winners-content .tabs li:first-child {
    position: relative;
    background-image: url('../images/tab-bg.png');
    padding-left: 55px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    width: 283px;
}
.winners-content .tabs li a {
    text-decoration: none;
    display: block;
    position: relative;
    top: -4px;
    /*margin-top: -4px;*/
    -webkit-tap-highlight-color: transparent;
}
.winners-content .tabs li.active a {
    top: auto;
    /*margin-top: 0;*/
}
.tab-border {
    background-color: #023c7c;
    position: absolute;
    bottom: 0;
    height: 7px;
}
.first-tab-border {
    right: 5px;
    width: 217px;
}
.second-tab-border {
    right: 5px;
    width: 206px;
}
.winners-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.winners-table-row {
    font-family: RotondaCBold;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 120px;
}
/*.winners-table tr td {
    font-family: RotondaCBold;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    padding-top: 7px;
    padding-bottom: 7px;
}*/
/*.winners-table tr.odd td:first-child {
    position: relative;
}*/
/*.winners-table tr.odd td:first-child:before {
    content: ' ';
    position: absolute;
    background-image: url('../images/odd-row-bg.png');
    width: 810px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}*/
.winners-table-row-odd {
    background-image: url('../images/odd-row-bg.png');
    background-size: contain;
}
.winners-table-row div {
    float: left;
}
.winners-date {
    width: 26.4%;
    padding-left: 36px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.winners-phone {
    width: 37.1%;
    text-align: center;
}
.winners-city {
    width: 36.5%;
    text-align: left;
}
.tab-content {
    padding-top: 20px;
    background-image: url('../images/winners-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    min-height: 400px;

}
.pagination {
    text-align: center;
    font-family: RotondaCBold;
}
.pagination a.pagination-prev, .pagination a.pagination-next {
    background: transparent;
    color: #fff200;
    width: 16px;
    background-image: url('../images/pagination-sprite.png');
}
.pagination a.pagination-more {
    background: transparent;
    background-image: url(../images/pagination-sprite.png);
    width: 32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-position: 4px -18px;
    background-repeat: no-repeat;
}
.pagination {
    font-size: 0;
    margin-top: 38px;
}
.pagination a {
    text-align: center;
    background: #00a9e9;
    text-decoration: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    -webkit-border-radius:32px;
    -moz-border-radius:32px;
    border-radius:32px;
    padding-top: 5px;
    font-size: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #043977;
}
.pagination a + a {
    margin-left: 6px;
}
.pagination a.active {
    color: #fff200;
}
.pagination a.pagination-next {
    background-position: -15px 8px;
    background-repeat: no-repeat;
}
.pagination a.pagination-prev {
    background-position: 4px 8px;
    background-repeat: no-repeat;
}

.prizes-counter-inner {
    padding-left: 88px;
    height: 100px;
    width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.prizes-counter-stamp {
    background-size: cover;
    right: -18px;
    top: -38px;
    position: absolute;
    width: 306px;
    height: 246px;
    background-image: url(../images/prizes-small-1-min.png);
    background-position: 0 -278px;
}
.prizes-left {
    color: #fff200;
    text-transform: uppercase;
    font-size: 25px;
    font-family: RotondaCBold;
}
.prizes-counter {
    margin-top: 53px;
    margin-bottom: 107px;
}
.prizes-counter-container {
    width: 238px;
    height: 60px;
    margin-top: 8px;
    margin-left: -5px;
    margin-bottom: 11px;
}
.prizes-counter-desc {
    font-family: RotondaCBold;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    margin-left: -4px;
}
.digit {
    width: 43px;
    height: 61px;
    background-image: url('../images/digits-sprite.png');
    display: inline-block;
}
.digit-1 {background-position: -43px 0;}
.digit-2 {background-position: -86px 0;}
.digit-3 {background-position: -128px 0;}
.digit-4 {background-position: -171px 0;}
.digit-5 {background-position: 0 -60px;}
.digit-6 {background-position: -44px -60px;}
.digit-7 {background-position: -86px -60px;}
.digit-8 {background-position: -129px -60px;}
.digit-9 {background-position: -171px -60px;}
.digit-0 {background-position: 0 0;}
.digit-gap {
    margin-left: 5px;
}
.prizes-list {
    position: relative;
    min-height: 400px;
}
.prizes-list-stamp {
    background-size: cover;
    right: -73px;
    top: 41px;
    position: absolute;
    width: 290px;
    height: 246px;
    background-image: url(../images/prizes-small-1-min.png);
    background-position: 0 0;
}
.smartphone-box {
    height: 0;
    background-image: url('../images/rules-small.png');
    background-position: center -136px;
}
.has-error .g-recaptcha {border: 2px solid #ed1c24;}
.rc-anchor.rc-anchor-normal.rc-anchor-light {width: auto}
.congrats-modal .modal-text {margin-top: 0px;margin-bottom: 16px;}
.has-error input[type="checkbox"] + label span, .has-error input[type="radio"] + label span {
    border: 2px solid #ed1c24;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.prizes-list-stamp.prizes-list-money {
    background-position: 3px -496px;
}
[name=code] {text-transform: uppercase}
#grecaptcha-cab > div {margin: 0 auto;}
#grecaptcha-greetings > div {margin: 0 auto}
/* ACCORDION */
.accordion__title {
    background-color: #008ed5;
    width: 100%;
    text-align: left;
    padding: 14px 8px 14px 54px;
    margin: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.accordion__title img {
    position: absolute;
    top: 50%;
    left: 17px;
    margin-top: -8px;
}
.accordion__title a {
    font-family: RotondaC;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    display: block;
}
.accordion__text {text-align: left;
    font-size: 16px;
    padding: 18px 16px;
    line-height: 1.25;}
.accordion__text + .accordion__title {margin-top: 14px;}
#faq {margin-top: 32px;}
/* FAQ Row */
.float-field {width: 25%; float: left; margin-top:0;}
.float-field:after {display: table; content:  ' '}
form.question-form .form-row.float-field + .form-row.float-field {margin-top: 0}
@media all and (max-width: 1600px) {
    .main-image img {
        margin-top: -100px;
    }
}
@media all and (max-width: 1366px) and (min-width: 760px) {
    .header-nav li {font-size: 12.8px;}
    .header-nav.left-side {
        padding-left: 120px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .header-nav.right-side {
        padding-right: 120px;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    header {
        height: 110px;
    }
    header .logo {
        height: 88px;
        width: 129px;
        background-size: 129px 88px;
        margin-left: -65px;
        top: 7px;
    }
    .header-nav-container {padding-top: 44px;}
    .main-image {margin-left: -150px;margin-right: -150px;}
    /* MAIN 1366 */
    .choose-hochland {font-size: 21.4px;margin-bottom: 18px;}
    .home-content .btn-larger {line-height: 1;
        -webkit-border-radius: 26px;
        -moz-border-radius: 26px;
        border-radius: 45px;
        font-family: RotondaCBold;
        padding: 13px 20px;
        /* height: 54px; */
        font-size: 27px;}
    .and-win {font-size: 23.7px;text-transform: uppercase;margin-top: 9px;}
    .sticker-image {background-image: url(../images/sticker.png);width: 223px;height: 127px;margin: 0 auto;background-repeat: no-repeat;margin-right: 37px;}
    .home-content {width: 738px;}
    .home-prize{position: absolute;background-image: url(../images/main-prize.png);width: 696px;height: 450px;top: -36px;left: 130px;background-size: contain;background-repeat: no-repeat;}
    /* RULES 1366 */
    .rules-content {width: 850px;}
    .rule-number {font-size: 81.8px}
    .rule-text {font-size: 16.9px}
    .rule-image {background-image: url('../images/rules-small.png');}
    .rule-1 .rule-image {top: -41px;width: 189px;height: 150px;left: 76px;background-position: -154px 15px;}
    .rule-2 .rule-image {top: -28px;width: 150px;height: 129px;left: 87px;}
    .rule-3 .rule-image {width: 229px;height: 118px;top: -20px;left: 47px;background-position: -351px 0;}

    .rule-1 .rule-image-cont {top: -32px;left: 69px;width: 198px;height: 140px;}
    .rule-2 .rule-image-cont {top: -33px;left: 88px;width: 152px;height: 193px;}
    .rule-3 .rule-image-cont {width: 236px;top: -36px;left: 46px;}

    .rule-1 .rule-text {margin-left: -6px;margin-top: 6px;}
    .rule-2 .rule-text {margin-left: -22px;margin-top: 7px;}
    .rule-3 .rule-text {margin-top: 5px;}

    .step-4-cont {width: 756px;top: -108px;left: 49px;}

    .rules-row-big {margin-top: 41px;}
    .big-rule-left {left: 86px;top: 11px;font-size: 17px;line-height: 22px;}
    .big-rule-gap {margin-top: 12px;}
    .rules-row-big:after {top: -108px;left: 10px;height: 269px;background-image: url(../images/rules-small.png);background-position: 0 -132px;}
    .big-rule-right {right: 75px;top: 30px;font-size: 17px;line-height: 25px;text-transform: uppercase;}
    .big-rule-right .big-rule-gap {margin-top: 6px;line-height: 24px;}
    .rules-content {padding-top: 36px;}
    .rules-row-big .rules-cell {height: 162px;}
    .rules-info-row {font-size: 12.21px;padding-left: 88px;}
    .prize-1 .prize-img {width: 448px;height: 325px;
        background-image: url(../images/prizes-small-1-min.png);
        background-position: -2px -428px;
    }
    .prize-2 .prize-img {
        width: 415px;
        height: 325px;
        background-image: url(../images/prizes-small-1-min.png);
        background-position: -27px -824px;
    }
    .prize-3 .prize-img {
        margin-left: -20px;
        width: 415px;
        height: 325px;
        background-image: url(../images/prizes-small-1-min.png);
        background-position: -30px -19px;
    }
    .prize-img-cont {width: 336px;}
    .prize-1 .prize-img-cont {top: 33px;left: 50%;margin-left: -150px;}
    .prize-2 .prize-img-cont {left: 50%;top: 37px;margin-left: -166px;}
    .prize-3 .prize-img-cont {top: 40px;left: 50%;margin-left: -178px;}


    .prize-2 .prize-img {width: 390px;height: 300px;background-image: url(../images/prizes-small-1-min.png);top: -5px;left: 3px;background-position: 38px -534px;}
    .prize-img-container{height: 265px;}
    .prize-header {font-size: 18px;line-height: 18px;}
    .prize-desc-text {font-size: 14.3px;}
    .prize-2 .prize-desc-text, .prize-3 .prize-desc-text {margin-top: 13px;}
    .prize-content {width: 980px;min-height: 445px;}
    .prize-1, .prize-3 {top:-5px;}
    .prize-2 {top: 46px;}
    .prize-1 .prize-img {width: 390px; background-position: 57px -254px;background-repeat: no-repeat}
    .prize-3 .prize-img {width: 390px;background-repeat: no-repeat;background-position: 48px 40px;}
    .prize-img-container {height: 286px;}
    .prize-content {width: 962px;}
    .cabinet-content {width: 498px;padding-top: 22px;}
    .cabinet-content .well {padding: 12px;}
    .cabinet-item {width: 140px;height: 24px;line-height: 24px;font-size: 14px;}
    .cabinet-item + .cabinet-item {margin-left: 6px;}
    .cabinet-content .well-half {width: 235px;}
    .cabinet-content .well-half + .well-half {margin-left: 26px;}
    .cabinet-content .well-full {margin-bottom: 20px;}
    .well-half .cabinet-item {font-size: 14px;width: 184px;}
    .cabinet-content .well.well-half {padding-top: 16px;}
    .cabinet-item-desc {font-size: 14px;margin-top: 13px;}
    .cabinet-content .well-half {min-height: 142px;}
    .cabinet-reg-code-form {/*background-size: 360px 250px;*/background-image: url(../images/reg-code-form-bg-min.png);width: 360px;/*height: 250px;*/margin: 22px auto 0 auto;}
    .cabinet-reg-code-form {padding-top: 30px;padding-bottom: 32px;}
    .cabinet-content .form-control input:not([type=checkbox]):not([type=submit]) {height: 30px;width: 176px;font-size: 14px;}
    .cabinet-content form .form-row + .form-row {margin-top: 8px;}
    .cabinet-content .btn-large {line-height: 34px;-webkit-border-radius: 26px;-moz-border-radius: 26px;border-radius: 26px;font-family: RotondaCBold;padding: 0 12px;height: 34px;font-size: 16px;}
    .cabinet-logout {top: 12px;right: 12px;width: 22px; height: 24.3px;}
    .logout-btn {width: 22px; height: 24.3px;background-size: 22px 24.3px;}
    /* ПРАВКИ 09.06.2017 */
    .question-hint {margin-top: 16px;}
    form.question-form .form-row + .form-row {margin-top: 20px;}
    form .form-control .help-block.form-error {position: relative; top: auto;}
    form.question-form .form-row + .form-row.question-row {margin-top: 32px;}
    form.question-form .form-row + .form-row.question-button-container {margin-top: 38px;}
    .modal {width: 300px;padding: 20px 24px;}
    .modal-close-btn {font-size: 20px;}
    .modal-header {font-size: 22px;}
    .register-code-modal .modal-header {
        margin-bottom: 24px;
    }
    .modal input:not([type=checkbox]):not([type=submit]) {width: 220px;}
    .form-control input:not([type=checkbox]):not([type=submit]) {height: 38px;font-size: 18px;}
    .modal form input[type=submit] {min-width: 220px;}
    .btn-large {height: 44px; line-height: 44px;}
    .auth-modal form .form-row + .form-row {margin-top: 28px;}
    .modal-text.smaller {font-size: 14px;}
    .reg-button-container {margin-left: -24px;margin-right: -24px;margin-top: 22px;}
    .modal-text.big {font-size: 16px;}
    .reg-button-container .btn {font-size: 22px}
    .reg-and-win-image {bottom: 20px;left: -92px;pointer-events: none;}
    .reg-and-win-text {width: 154px;font-size: 14px;margin-right: -40px;margin-top: 88px;right: 40px;bottom: 54px;}
    .auth-modal {height: 560px;}
    .back-to-auth {font-size: 16px;}
    .modal.password-restore-modal form .form-row + .form-row {margin-top: 16px;}
    .modal.password-restore {height: auto;}
    .modal.password-restore-modal {background-position: 0 -82px;}
    form .form-row + .form-row {margin-top: 16px;}
    .modal.register-success-modal {padding-top: 42px; height: 618px;}
    .thank-you-modal .prize-img img {margin-left: -114px;}
    .question-form .selectric {height: 38px;}
    .question-form .selectric .label {font-size: 18px; padding: 8px 0}
    .language-switcher {padding-top:8px; height: 32px; width: 70px; font-size: 12px;}
    .language-switcher a {font-size: 12px;}
}
@media all and (max-width: 1024px) {
    .header-nav-container {width: auto;}
    .header-nav.left-side {padding-left: 60px;}
    .header-nav.right-side {padding-right: 60px;}
    .header-nav.right-side li a {padding: 0 12px;}
    .header-nav li a {padding: 0 16px;}
    .main-image img {margin-top: -50px;}
    .float-field {width: auto; float: none;}
    form.question-form .form-row.float-field + .form-row.float-field {margin-top: 20px;}
    .form-row.question-row {float: none; width: 400px; margin: 0 auto; margin-top: 32px;}
    .form-row.question-button-container {float: none; width: auto}
    .question-content {width: 528px;}
}
@media all and (max-width: 760px) {
    form .form-control .help-block.form-error {position: relative; top: auto}
    .close-menu-btn {display: block}
    .mobile-nav-btn {display: block;}
    .header-nav-container {
        display: none;
        background: url(../images/bg.jpg) no-repeat fixed;
        position: fixed;
        z-index: 2;
        width: 250px;
        height: 100%;
        background-size: cover;
        -webkit-box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3);
        text-align: center;
        padding-top: 124px;
    }
    .header-nav.left-side {
        margin-left: 0;
        float: none;
        padding-left: 0;
        width: 100%;
    }
    .header-nav.right-side {
        float: none;
        margin-right: 0;
        width: 100%;
        padding-right: 0;
        text-align: center;
    }
    header {
        height: 110px;
    }
    header .logo {
        height: 88px;
        width: 129px;
        background-size: 129px 88px;
        margin-left: -65px;
        top: 7px;
    }
    .header-nav li {
        display: block;
        font-size: 24px;
        height: 58px;
    }
    .header-nav {
        height: auto;
    }
    .header-nav-container .language-switcher {
        display: none;
    }
    .header-nav.left-side li + li:after {
        display: none;
    }
    .header-nav .btn-middle {
        height: 36px;
        line-height: 36px;
    }
    .header-nav li a {
        vertical-align: middle;
    }
    /* PRIZES */
    .prize-content {width: auto;}
    .prize-1, .prize-2, .prize-3 {position: relative}
    .main-image {
        /*background-image: url('../images/index-bg-small.png');
        height: 572px;
        background-size: contain;
        margin-top: -239px;*/
    }
    .main-image img {margin-top: -139px;}
    .main-image .image-mobile {display: block;}
    .main-image .image-full {display: none;}
    /* MAIN MOBILE */
    .home-content, .home-content-inner {width: 100%;}
    .top-image {display: block;max-width: 100%;}
    .sticker-image {display: none;}
    .home-prize {display: none;}
    .rules-content {width: auto;    overflow-x: hidden}
    .rules-row:first-child .rules-cell {width: 415px;float: none;margin: 0 auto;}
    .rules-row:first-child .rules-cell.rule-2 {margin-top:100px;}
    .rules-row:first-child .rules-cell.rule-3 {margin-top:100px;padding-left: 50px;}
    .rule-3 .rule-image {left: 104px;}
    .rule-3 .rule-image-cont {left: 93px;}
    .rules-row-simple {height: auto}
    .rules-info-row {padding: 0}
    .rules-info-left {float: none;text-align: center}
    .rules-info-right {float: none;text-align: center}
    .rules-row-big .rules-cell {width: 415px; margin: 0 auto}
    .rules-row-big {margin-top: 233px;}
    .rules-row-big:after {top: -210px;left: 50%;width: 797px;height: 372px;background-image: url(../images/rules-small.png);background-position: 0px -134px;margin-left: -411px;}
    .big-rule-left {text-align: center;position: absolute;left: 62px;top: 63px;}
    .big-rule-left{position: initial;margin-top: -46px;margin-left: -50px;}
    .big-rule-right {position: initial;text-align: center; background-color: #1666a4;margin: 16px 0;padding: 16px 0;}
    .rule-text {margin-left: 0}
    .rules-row-big .rules-cell {padding-left: 50px;height: auto}
    .question-content {width: 400px;}
    form.question-form .form-row + .form-row.question-button-container {margin-top: 32px}
    .question-hint {margin-top: 16px;}
    .prize-1, .prize-2, .prize-3 {width: 100%; left: 0; margin-left: 0;position: initial}
    .prize-img-container {margin: 0 auto}
    .prize-3 .prize-img {margin-left: 0}
    .prize-2, .prize-3 {margin-top: 32px;}
    .form-content {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;}
    .cabinet-content {width: 100%;box-sizing: border-box;}
    .cabinet-content-inner {width: 100%; padding: 0 32px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
    .cabinet-item {display: block;width: 100%}
    .cabinet-item + .cabinet-item {margin-top: 16px;margin-left:0;}
    .cabinet-content .well-full {padding-right: 60px;margin-bottom: 31px;}
    .cabinet-content .well-half {width: 100%;text-align: center;padding-top: 20px;min-height: 198px;}
    .well-half .cabinet-item {width: 100%;}
    .cabinet-content .well-half + .well-half {margin-left: 0; margin-top: 32px;}
    .cabinet-reg-code-form {/*background-size: 360px 250px;*/background-image: url(../images/reg-code-form-bg-min.png);width: 360px;/*height: 250px;*/margin: 38px auto 0 auto;}
    .cabinet-reg-code-form {padding-top: 30px;}
    .cabinet-content .form-control input:not([type=checkbox]):not([type=submit]) {height: 30px;width: 176px;font-size: 14px;}
    .cabinet-content form .form-row + .form-row {margin-top: 8px;}
    .cabinet-content .btn-large {line-height: 34px;-webkit-border-radius: 26px;-moz-border-radius: 26px;border-radius: 26px;font-family: RotondaCBold;padding: 0 12px;height: 34px;font-size: 16px;}
    .modal {width: 400px;}
    .short {display: block}
    .long {display: none}
    .winners-content {width: 100%}
    .prizes-counter-inner {
        text-align: center;
        height: 100px;
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
    }
    .prizes-counter-container {margin-left: auto;margin-right: auto}
    .prizes-counter-stamp {top: -228px;left: 50%;margin-left: -146px;}
    .prizes-counter {margin-top: 250px;}
    .prizes-list-stamp {display: none}
    colgroup {display: none}
    .winners-content .tabs li:first-child {
        background-image: none;
        padding-left: 0;
        width: 212px;
    }
    .winners-content .tabs li:first-child .tab-bg {width: 212px;left: 0}
    .tabs ul.horizontal {text-align: center; white-space: nowrap}
    .tabs-border {padding-left: 0; padding-right: 0}
    .first-tab-border {width: 206px;}
    .winners-table-row {font-size: 18px;padding-right: 0}
    .smartphone-box {height: 268px;margin-bottom: 32px;}
    .prizes-counter {margin-bottom: 60px;}
    .winners-content .tabs li a {top: -2px;}
    .cabinet-logout {top: 50%; margin-top: -17px;}
    .step-4-cont {width: 900px;left: 50%; margin-left: -420px; z-index: -1; top: -250px;}
    form .form-row + .form-row {margin-top: 20px;}
    .thank-you-modal .prize-img img {margin-left: -96px;}
    .modal.info-modal {padding: 20px 30px;}
    .language-switcher {padding-top:8px; height: 32px; width: 70px; font-size: 12px;}
    .language-switcher a {font-size: 12px;}
}
@media all and (max-width: 480px) {
    .winners-content .tabs li {font-size: 20px;}
    .winners-content .tabs li:first-child {width: 160px;}
    .winners-content .tabs li:first-child .tab-bg {width: 160px}
    .first-tab-border {width: 148px;}
    .winners-content .tabs li {width: 160px;}
    .winners-content .tabs li .tab-bg {width: 160px;}
    .second-tab-border {width: 155px;}
    form.question-form .form-row + .form-row {margin-top: 20px;}
    form.question-form .form-row + .form-row.question-row {margin-top: 20px;}
    .question-text-wrapper {width: 100%;}
    .question-hint {font-size: 16px;    margin-bottom: 32px;    margin-top: 0;}
    footer {font-size: 14px;}
    .modal.password-restore-modal form .form-row + .form-row {margin-top: 20px;}
    .back-to-auth {font-size: 16px;}
    .modal.password-restore {height: auto}
}
@media all and (max-width: 460px) {
    .btn-larger {font-size: 24.7px;padding: 14px 31px;}
    .choose-hochland {font-size: 24px; margin-bottom: 14px;}
    .and-win {font-size: 24px;}
    .header-nav li {display: block;font-size: 20px;height: 42px;}
    .header-nav li:last-child {margin-top: 12px;}
    footer {position: relative}
    #layout-content {padding-bottom: 20px;}
    .winners-table-row {font-size: 14px;}
    .winners-city {padding-left: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;}
    .form-row.question-row {width: 300px;}
    .language-switcher {right: 20px;}
}
@media all and (max-width: 420px) {
    .rule-number {font-size: 68.8px;}
    .rule-1, .rule-2, .rule-3 {padding-left: 0}
    .rule-1 .rule-image-cont {position: absolute;top: -32px;left: 50%;width: 180px;height: 193px;margin-left: -90px;}
    /*.rule-2 .rule-image-cont {width: 142px;left: 110px;top: -32px;}*/
    .rule-2 .rule-image-cont {width: 142px;left: 50%;top: -32px;margin-left: -71px;}
    /*.rule-3 .rule-image-cont {width: 213px;left: 79px;top: -34px;}*/
    .rule-3 .rule-image-cont {width: 213px;left: 50%;top: -34px;margin-left: -80px;}
    .rules-row:first-child .rules-cell {width: 100%;}
    .rule-number {padding-left: 48px;}
    .rule-text {font-size: 16px;}
    .rule-1 .rule-text {margin-left: 0; margin-top: 10px;}
    .rule-2 .rule-text {margin-left: 0; margin-top: 8px;}
    .rule-3 .rule-text {margin-left: 0; margin-top: 9px;}
    .rules-content {padding-top: 48px;}
    .rules-row:first-child .rules-cell.rule-2 {margin-top: 68px;}
    .rules-row:first-child .rules-cell.rule-3 {padding-left: 0; margin-top: 50px;}
    .step-4-cont {width: 700px;left: 50%;margin-left: -330px; top: -218px;}
    .rules-row-big .rules-cell, .rules-row-big .rules-cell {padding-left: 0}
    .big-rule-left {position: initial;margin-top: -26px;margin-left: 0;}
    .rules-row-big .rules-cell {width: 100%;}
    .big-rule-left {font-size: 20px;line-height: 22px;}
    .big-rule-right {font-size: 20px; line-height: 24px;}
    .rules-info-row {font-size: 14px; line-height: 18px;}
    .prize-img-container {width: 100%;height: 238px;}
    .reg-and-win-text {font-size: 16px;}
    .reg-button-container {margin-left: -24px;margin-right: -24px;margin-top: 22px;}
    .prize-img-cont {width: 300px;}
    .prize-1 .prize-img-cont {position: absolute;top: 0px;left: 50%;margin-left: -138px;}
    .prize-2 .prize-img-cont {position: absolute;top: 0px;left: 50%;margin-left: -138px;}
    .prize-3 .prize-img-cont {position: absolute;top: 0px;left: 50%;margin-left: -138px;}
    .prize-desc-text {font-size: 16px;}
    .winners-content .tabs li + li {margin-left: 0}
    .winners-date {padding-left: 2px; }
    .modal {width: 300px;padding: 20px 30px;}
    .modal-header {font-size: 18px;}
    .modal input:not([type=checkbox]):not([type=submit]) {width: 100%;}
    .modal form input[type=submit] {width: 100%}
    .auth-modal form .form-row + .form-row {margin-top: 20px;}
    .modal-text.big {font-size: 16px;}
    .modal-text.big.lower {font-size: 16px; text-transform: none;}
    .reg-button-container .btn {font-size: 20px;}
    .reg-and-win-image {left: -86px;}
    .reg-and-win-text {
        font-size: 14px;    width: 142px;margin-right: 0;
        margin-top: 98px;
        right: 3px;
        bottom: 47px;
    }
    .auth-modal {height: 566px;}
    .form-content p {font-size: 16px;}
    .register-success-modal .btn-large {font-size: 20px;}
    .g-recaptcha {
        /*width: 260px; */
        margin: 0 auto;height: 78px;
        transform: scale(0.865);
        /*transform-origin: 0 0;*/
    }
    #grecaptcha-greetings {margin-left: -12px;}
    .register-success-modal .modal-text {font-size: 16px;}
    .register-success-modal {height: 585px; top: 10px !important;}
    form .form-control .help-block {position: relative}
    .cabinet-item {font-size: 16px;line-height: 28px;}
    .well-half .cabinet-item {font-size: 18px;}
    .cabinet-reg-code-form {width: 100%;}
    .cabinet-reg-code-form .g-recaptcha {
        transform: scale(0.865);
        margin: 0 auto;
        transform-origin: center;
    }
    .form-content:after {
        width: 160px;
        margin-left: -79px;
    }
    #grecaptcha-load {margin-left: -9px;}
    .modal-text.bigger {font-size: 18px;}
    .congrats-modal {padding: 20px 30px;}
    .thank-you-modal .prize-img img {margin-left: -118px;}
    .thank-you-modal.modal {padding: 20px 30px;}
    .thank-you-modal.modal .btn-large {padding: 0 20px;}
    .form-row.question-row {width: 260px;}
}
@media all and (max-width: 420px) {
	.language-switcher {right: 10px;}	
}