<span class="form-control">
    <? if ($model->prize): ?>
        <a href="/backend/kosmo/quiz/prize/update/<?=$model->prize_id?>" target="_blank"><?= $model->prize->name ?></a>
        <?= $model->prize->comment ?>
    <? endif; ?>
</span>
