<span class="form-control">
    <? if ($model->winner): ?>
        <a href="/backend/kosmo/profile/user/update/<?=$model->winner_id?>" target="_blank"><?= $model->winner->name ?></a>
        <?= $model->winner->email ?>
        <?= $model->winner->getPhoneFormatted(false) ?>
    <? endif; ?>
</span>
