<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kosmo/profile/raffle') ?>">Raffle</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open() ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <? if($status != 'active'): ?>
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving raffle..."
                    class="btn btn-primary">
                    <u>S</u>ave
                </button>
                <button
                    type="button"
                    data-request="onSetWinner"
                    data-load-indicator="Publishing..."
                    data-request-confirm="Do you really want to publish winner?"
                    class="btn btn-default oc-icon-users">
                    Publish Winner
                </button>
                <span class="btn-text">
                    <a href="<?= Backend::url('kosmo/profile/raffle') ?>">Cancel</a>
                </span>
                <? endif; ?>
                <? if ($this->user->hasAccess('kosmo.profile.remove_raffles')): ?>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting raffle..."
                    data-request-confirm="Do you really want to delete this raffle?">
                </button>
                <? endif; ?>
            </div>
        </div>

    <?= Form::close() ?>
<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kosmo/profile/raffle') ?>" class="btn btn-default">Return to raffle list</a></p>

<?php endif ?>
