<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kosmo/feedback/feedback') ?>">Feedback</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <span class="btn-text">
                <a href="<?= Backend::url('kosmo/feedback/feedback') ?>">Cancel</a>
            </span>
        </div>
    </div>
<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kosmo/feedback/feedback') ?>" class="btn btn-default">Return to feedback list</a></p>

<?php endif ?>
