<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kosmo/feedback/feedback') ?>">Feedback</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="button"
                    class="btn btn-danger oc-icon-trash"
                    data-request="onDelete"
                    data-load-indicator="Deleting Feedback..."
                    data-request-confirm="Do you really want to delete this feedback?">
                    Delete
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('kosmo/feedback/feedback') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kosmo/feedback/feedback') ?>" class="btn btn-default">Return to feedback list</a></p>

<?php endif ?>
