<div class="report-widget">
    <h3><?= $this->property('title') ?></h3>
    <? if (!empty($items['total']) && !empty($gitems['total'])): ?>
    <? $dataTotal = [] ?>
    <? $dataFail = [] ?>
    <? $dataSuccess = [] ?>
    <? foreach ($items['total'] as $ts => $item): ?>
        <? $dataTotal[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <? foreach ($items['success'] as $ts => $item): ?>
        <? $dataFail[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <? foreach ($items['fail'] as $ts => $item): ?>
        <? $dataSuccess[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>

    <? $dataGames = [] ?>
    <? $dataUnique = [] ?>
    <? foreach ($gitems['total'] as $ts => $item): ?>
        <? $dataGames[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <? foreach ($gitems['unique'] as $ts => $item): ?>
        <? $dataUnique[] = '['.($ts*1000).','.$item.']' ?>
    <? endforeach; ?>
    <div
        class="control-chart wrap-legend"
        data-control="chart-line"
        data-zoomable="0"
        data-chart-options="xaxis: {mode: 'time', timeformat: '%d.%m'}, yaxis: {min: 0}, series: {lines: {show: true, fill: false}, points: {show: true}}, legend: {show: true, noColumns: 0}"
        style="width:100%; height:200px">
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataTotal)?>' data-set-label='Всего ответов'>
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataFail)?>' data-set-label='Неправильных'>
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataSuccess)?>' data-set-label='Правильных'>

        <span data-chart="dataset" data-set-data='<?=implode(',', $dataGames)?>' data-set-label='Игр сыграно'>
        <span data-chart="dataset" data-set-data='<?=implode(',', $dataUnique)?>' data-set-label='Уникальных игроков'>
    </div>
    <br><br>
    <div class="table-container" style="overflow: auto;">
        <table class="table data" data-provides="rowlink">
            <thead>
                <tr>
                    <th><span>Ответы</span></th>
                    <? foreach ($items['total'] as $ts => $item): ?>
                        <th><span><?= date('d.m', $ts) ?></span></th>
                    <? endforeach; ?>
                    <th><span>Всего</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span>Всего ответов</span></td>
                    <? foreach ($items['total'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['total'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>- Правильных</span></td>
                    <? foreach ($items['success'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['success'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>- Неправильных</span></td>
                    <? foreach ($items['fail'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $results['fail'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>Всего игр</span></td>
                    <? foreach ($gitems['total'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $gresults['total'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>- Игр закончено</span></td>
                    <? foreach ($gitems['complete'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $gresults['complete'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>- Игр не закончено</span></td>
                    <? foreach ($gitems['nocomplete'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $gresults['nocomplete'] ?></strong></td>
                </tr>
                <tr>
                    <td><span>Уникальных игроков</span></td>
                    <? foreach ($gitems['unique'] as $ts => $item): ?>
                        <td><?= $item ?></td>
                    <? endforeach; ?>
                    <td><strong><?= $gresults['unique'] ?></strong></td>
                </tr>

            </tbody>
        </table>
    </div>
    <? endif; ?>
</div>
