<!-- Авторизация -->
<div class="modal auth-modal">
    <a href="" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Авторизация'|_}}</div>
    <div class="modal-body">
        <form id="form-auth">
            <div class="form-row">
                <div class="form-control">
                    <input type="text"
                        name="phone"
                        placeholder="+7 (___) ___ __ __"
                        data-mask="+7 (000) 000 00 00"
                        data-toggle="mask"
                        data-validation="mask"
                        data-validation-mask="10"
                        data-validation-error-msg=" "
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input name="password" type="password"
                        placeholder="{{'ПАРОЛЬ'|_}}"
                        data-validation="length"
                        data-validation-length="4-16"
                        data-validation-error-msg=" "
                        maxlength="16"
                        required>
                    <span class="help-block form-ajax-errors">{{'Неверный номер или пароль. Попробуй еще раз.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input id="form-auth-submit" type="submit" value="{{'ВОЙТИ'|_}}" class="btn btn-red btn-large">
                </div>
            </div>
        </form>
        <div class="modal-text smaller">
            <a href="#" class="forgot-password yellow" onclick="passwordRestore(true);">{{'Забыли пароль?'|_}}</a>
        </div>
        {#<div class="reg-button-container">
            <div class="reg-button-text modal-text white big">{{'Еще не зарегистрирован?'|_}}</div>
            <a href="/register" class="btn btn-large btn-blue">{{'Зарегистрируйся'|_}}</a>
            <div class="reg-button-container__inner">
            </div>
        </div>#}
        <div class="reg-and-win">
            <div class="reg-and-win-image"></div>
            <div class="reg-and-win-text yellow">{{'Регистрируй<br>коды и выигрывай призы!'|_}}</div>
        </div>
    </div>
</div>
