<!-- Окно успешной регистрации -->
<div class="modal register-success-modal" data-href="/cabinet">
    <a href="" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Регистрация прошла успешно!'|_}}</div>
    <div class="modal-body">
        <div class="yellow modal-text">
            {{'ЗАГРУЗИ СВОЙ ПЕРВЫЙ КОД<br>И УЧАСТВУЙ В РОЗЫГРЫШЕ ПРИЗОВ'|_}}
        </div>
        <form id="form-load-greetings">
            <div class="form-row">
                <div class="form-control">
                    <input type="text"
                        name="code"
                        placeholder="{{'ВВЕДИ КОД'|_}}"
                        data-toggle="mask"
                        data-mask="AAAAAAAAA"
                        data-validation="mask"
                        data-validation-mask="9"
                        data-validation-error-msg="{{'Укажите уникальный код полностью.'|_}}"
                        data-ajax-errors="1"
                        required>
                    <span class="help-block form-ajax-errors-custom"></span>
                    <span class="help-block form-ajax-error">{{'Ошибка. Данный КОД уже зарегистрирован.<br/> Горячая линия 8-800-070-1096.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <div id="grecaptcha-greetings" class="g-recaptcha" data-sitekey="{{captchaKey}}"></div>
                    <span class="help-block form-ajax-error">{{'Нужно пройти каптчу.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input id="form-load-greetings-submit" type="submit" value="{{'ЗАРЕГИСТРИРОВАТЬ'|_}}" class="btn btn-red btn-large">
                </div>
            </div>
        </form>
        <div class="reg-and-win">
            <div class="reg-and-win-image"></div>
            <div class="reg-and-win-text yellow">{{'Регистрируй<br>коды и выигрывай призы!'|_}}</div>
        </div>
    </div>
</div>
{% put scripts %}
<script type="text/javascript">

$(function(){
    registerSuccess();
})
</script>
{% endput %}
