<div class="modal info-modal">
    <a href="#" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Дорогие участники!'|_}}</div>
    <div class="modal-body">
        <div class="white modal-text lower big">
            {{'Если у вас возникли трудности при регистрации промокода по SMS, звоните по номеру'|_}}
        </div>
        <br>
        <div class="yellow modal-text big">
            <div>{{'бесплатной горячей линии'|_}}</div>
            <div>{{'<a href="tel:88000701096">8 800 070 10 96</a>'|_}}</div>
        </div>
        <br>
        <div class="white modal-text lower big">
            {{'или зарегистрируйте код на сайте прямо сейчас'|_}}
        </div>
        <br>
        {% if user %}
        <a href="#" class="btn btn-red btn-larger" onclick="registerCode()">{{'Ввести код'|_}}</a>
        {% else %}
        <a href="#" class="btn btn-red btn-larger" onclick="auth(); return false;">{{'Ввести код'|_}}</a>
        {% endif %}
    </div>
</div>
{% put scripts %}
<script type="text/javascript">
    $(function(){
        infoShow();
    })
</script>
{% endput %}
