
{% if showModal == 'congrats' %}
<!-- Поздравляем! -->
<div class="modal congrats-modal" data-href="/cabinet">
    <a href="#" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Поздравляем!'|_}}</div>
    <div class="modal-body">
        <div class="prize-img">
            <img src="{{ 'assets/images/phone.png'|theme }}" alt="">
        </div>
        <div class="white modal-text bigger">
            {{'Твой код принят.<br>На баланс телефона<br>будет зачислено <span class="bold yellow">50 <span class="tenge">тг</span></span>.'|_}}
        </div>
        <a href="#" class="btn btn-red btn-large btn-ok modal-close">{{'OK'|_}}</a>
    </div>
</div>
<script type="text/javascript">
    congrats(true);
</script>
{% endif %}

{% if showModal == 'thanks' %}
<!-- Спасибо! -->
<div class="modal thank-you-modal" data-href="/cabinet">
    <a href="#" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Спасибо!'|_}}</div>
    <div class="modal-body">
        <div class="yellow modal-text bigger">
            {{'Твой код принят<br>и ты участвует в розыгрыше'|_}}
        </div>
        <div class="prize-img">
            <img src="{{ 'assets/images/reg-and-win-img.png'|theme }}" alt="">
        </div>
        <div class="yellow modal-text big wide want-more">
            {{'Хочешь зарегистрировать еще код?'|_}}
        </div>
        <a href="/cabinet/loadmore" class="btn btn-red btn-large">{{'ЗАРЕГИСТРИРОВАТЬ'|_}}</a>
    </div>
</div>
<script type="text/javascript">
    thankYou(true);
</script>
{% endif %}

{% if showModal == 'limit' %}
<!-- Извините! -->
<div class="modal fail-modal" data-href="/cabinet">
    <a href="#" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Извините!'|_}}</div>
    <div class="modal-body">
        <div class="yellow modal-text big wide">
            {{'Код не погашен.<br>По условиям акции ты можешь погасить только 20 кодов.'|_}}
        </div>
        <input type="submit" value="{{'OK'|_}}" class="btn btn-red btn-large btn-ok">
    </div>
</div>
<script type="text/javascript">
    fail(true);
</script>
{% endif %}
