<!-- Регистрация кода -->
<div class="modal register-code-modal">
    <a href="" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Регистрация кода'|_}}</div>
    <div class="modal-body">
        <form id="form-load">
            <div class="form-row">
                <div class="form-control">
                    <input type="text"
                        name="code"
                        placeholder="{{'ВВЕДИ КОД'|_}}"
                        data-toggle="mask"
                        data-mask="AAAAAAAAA"
                        data-validation="mask"
                        data-validation-mask="9"
                        data-validation-error-msg="{{'Укажите уникальный код полностью.'|_}}"
                        data-ajax-errors="1"
                        required>
                    <span class="help-block form-ajax-errors-custom"></span>
                    <span class="help-block form-ajax-error">{{'Ошибка. Данный КОД уже зарегистрирован.<br/> Горячая линия 8-800-070-1096.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <div id="grecaptcha-load" class="g-recaptcha" data-sitekey="{{captchaKey}}"></div>
                    <span class="help-block form-ajax-error">{{'Нужно пройти каптчу.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input id="form-load-submit" type="submit" value="{{'ЗАРЕГИСТРИРОВАТЬ'|_}}" class="btn btn-red btn-large">
                </div>
            </div>
        </form>
    </div>
</div>
{% if showLoadMore %}
    {% put scripts %}
    <script type="text/javascript">

    $(function(){
        registerCode();
    })
    </script>
    {% endput %}
{% endif %}
