<!-- Восстановление пароля 2 -->
<div class="modal password-restore-modal-2 password-restore">
    <a href="" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Восстановление пароля'|_}}</div>
    <div class="modal-body">
        <div class="modal-text white big password-restore-hint-outer">
            <div class="password-restore-hint-inner">
                {{'Придумай новый пароль'|_}}
            </div>
        </div>
        <form id="form-reset">
            <div>
                <input type="hidden" name="code" value="{{reset}}">
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input name="password" type="password"
                        placeholder="{{'ВВЕДИ НОВЫЙ ПАРОЛЬ'|_}}"
                        data-validation="length"
                        data-validation-length="4-16"
                        data-validation-error-msg="{{'Придумай пароль длинней 4 символов.'|_}}"
                        maxlength="16"
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input name="password-confirmation" type="password"
                        placeholder="{{'ПОВТОРИ НОВЫЙ ПАРОЛЬ'|_}}"
                        data-validation="confirm"
                        data-validation-confirm="password"
                        data-validation-error-msg="{{'Введенные пароли не совпадают.'|_}}"
                        required>
                    <span class="help-block form-ajax-error">{{'Что-то пошло не так. Попробуй еще раз или <a href=":link">Зарегистрируйся</a>.'|_({link:'/registration'})}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input id="form-reset-submit" type="submit" value="{{'СМЕНИТЬ ПАРОЛЬ'|_}}" class="btn btn-red btn-large">
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Восстановление пароля 3 -->
<div class="modal password-restore-modal-3 password-restore">
    <a href="" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Восстановление пароля'|_}}</div>
    <div class="modal-body">
        <div class="modal-text white big password-restore-hint-outer">
            <div class="password-restore-hint-inner">
                {{'Пароль успешно изменен,<br>авторизуйся:'|_}}
            </div>
        </div>
        <form id="form-auth-reset">
            <div class="form-row">
                <div class="form-control">
                    <input type="text"
                        name="phone"
                        placeholder="+7 (___) ___ __ __"
                        data-mask="+7 (000) 000 00 00"
                        data-toggle="mask"
                        data-validation="mask"
                        data-validation-mask="10"
                        data-validation-error-msg=" "
                        required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input name="password" type="password"
                        placeholder="{{'ПАРОЛЬ'|_}}"
                        data-validation="length"
                        data-validation-length="4-16"
                        data-validation-error-msg=" "
                        maxlength="16"
                        required>
                    <span class="help-block form-ajax-errors">{{'Неверный номер или пароль. Попробуй еще раз.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input id="form-auth-reset-submit" type="submit" value="{{'ВОЙТИ'|_}}" class="btn btn-red btn-large">
                </div>
            </div>
        </form>
    </div>
</div>
{% put scripts %}
<script type="text/javascript">
    $(function(){
        passwordRestore2();
    })
</script>
{% endput %}
