<!-- Восстановление пароля -->
<div class="modal password-restore-modal password-restore">
    <a href="" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Восстановление пароля'|_}}</div>
    <div class="modal-body">
        <div class="modal-text big hint">
            {{'Введи электронный адрес, указанный при регистрации.'|_}}
        </div>
        <form id="form-restore">
            <div class="form-row">
                <div class="form-control">
                    <input name="email" type="text"
                        placeholder="{{'EMAIL'|_}}"
                        data-validation="email"
                        data-validation-length="6-64"
                        data-validation-error-msg="{{'Неправильный e-mail.'|_}}"
                        maxlength="64"
                        required>
                    <span class="help-block form-ajax-error">{{'Такой e-mail не зарегистрирован.<br>Попробуй еще раз или <a href="/register" class="restore-reg-link yellow">зарегистрируйся</a>.'|_}}</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-control">
                    <input id="form-restore-submit" type="submit" value="{{'ВОССТАНОВИТЬ'|_}}" class="btn btn-red btn-large">
                </div>
            </div>
        </form>
        <div class="back-to-auth">
            <a href="#" class="white big" onclick="auth(true);">{{'Вернуться к <span>авторизации</span>'|_}}</a>
        </div>
    </div>
</div>

<!-- Восстановление пароля 4 -->
<div class="modal password-restore-modal-4 password-restore">
    <a href="/" class="modal-close modal-close-btn">X</a>
    <div class="modal-header">{{'Восстановление пароля'|_}}</div>
    <div class="modal-body">
        <div class="modal-text big hint password-restore-message">
            {{'На твой e-mail отправлена ссылка для восстановления пароля'|_}}
        </div>
        <a href="/" class="btn btn-red btn-large btn-ok">{{'OK'|_}}</a>
    </div>
</div>
