{% if pagination.currentPage and pagination.lastPage > 1 %}
    {% if pagination.currentPage == 1 and (pagination.currentPage == pagination.lastPage or pagination.lastPage == 0) %}
        <a href="javascript:void(0)" class="pagination-btn pagination-prev">&nbsp;</a>
    {% elseif pagination.currentPage == 1 %}
        <a href="javascript:void(0)" class="pagination-btn pagination-prev">&nbsp;</a>
    {% elseif pagination.currentPage == pagination.lastPage %}
        <a href="#" data-paginate-page="{{pagination.currentPage-1}}" class="pagination-btn pagination-prev">&nbsp;</a>
    {% else %}
        <a href="#" data-paginate-page="{{pagination.currentPage-1}}" class="pagination-btn pagination-prev">&nbsp;</a>
    {% endif %}

    {% if pagination.lastPage <= 5%}
        {% for item in 1..pagination.lastPage if item != 0 %}
            {% if pagination.currentPage == item %}
            <a href="javascript:void(0)" class="pagination-btn active">{{item}}</a>
            {% else %}
            <a href="#" data-paginate-page="{{item}}" class="pagination-btn">{{item}}</a>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if pagination.currentPage < 3 %}
            {% for item in 1..3 %}
                {% if pagination.currentPage == item %}
                <a href="javascript:void(0)" class="pagination-btn active">{{item}}</a>
                {% else %}
                <a href="#" data-paginate-page="{{item}}" class="pagination-btn">{{item}}</a>
                {% endif %}
            {% endfor %}
            <a href="javascript:void(0)" class="pagination-more">&nbsp;</a>
            <a href="#" data-paginate-page="{{pagination.lastPage}}" class="pagination-btn">{{pagination.lastPage}}</a>
        {% elseif pagination.currentPage > pagination.lastPage-2 %}
            <a href="#" data-paginate-page="1" class="pagination-btn">1</a>
            <a href="javascript:void(0)" class="pagination-more">&nbsp;</a>
            {% for item in pagination.lastPage-2..pagination.lastPage %}
                {% if pagination.currentPage == item %}
                <a href="javascript:void(0)" class="pagination-btn active">{{item}}</a>
                {% else %}
                <a href="#" data-paginate-page="{{item}}" class="pagination-btn">{{item}}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <a href="#" data-paginate-page="1" class="pagination-btn">1</a>
            <a href="javascript:void(0)" class="pagination-more">&nbsp;</a>
            {% for item in pagination.currentPage-1..pagination.currentPage+1 %}
                {% if pagination.currentPage == item %}
                <a href="javascript:void(0)" class="pagination-btn active">{{item}}</a>
                {% else %}
                <a href="#" data-paginate-page="{{item}}" class="pagination-btn">{{item}}</a>
                {% endif %}
            {% endfor %}
            <a href="javascript:void(0)" class="pagination-more">&nbsp;</a>
            <a href="#" data-paginate-page="{{pagination.lastPage}}" class="pagination-btn">{{pagination.lastPage}}</a>
        {% endif %}
    {% endif %}

    {% if pagination.currentPage == 1 and (pagination.currentPage == pagination.lastPage or pagination.lastPage == 0) %}
        <a href="javascript:void(0)" class="pagination-btn pagination-next">&nbsp;</a>
    {% elseif pagination.currentPage == 1 %}
        <a href="#" data-paginate-page="{{pagination.currentPage+1}}" class="pagination-btn pagination-next">&nbsp;</a>
    {% elseif pagination.currentPage == pagination.lastPage %}
        <a href="javascript:void(0)" class="pagination-btn pagination-next">&nbsp;</a>
    {% else %}
        <a href="#" data-paginate-page="{{pagination.currentPage+1}}" class="pagination-btn pagination-next">&nbsp;</a>
    {% endif %}
{% endif %}
