{% for winner in winners %}
<div class="winners-table-row clearfix {{loop.index is odd?'winners-table-row-odd':''}}">
    <div class="winners-date">{{winner.raffled_at.format('d.m.Y')}}</div>
    <div class="winners-phone">{{winner.getPhoneFormatted}}</div>
    <div class="winners-city">{{winner.city_id?winner.city.name:winner.city_name}}</div>
</div>
{% endfor %}
