<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kosmo/profile/user') ?>">User</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-buttons">
        <a class="btn btn-default" href="<?= Backend::url('kosmo/profile/user') ?>">Назад</a>
    </div>

    <?= $this->formRenderPreview() ?>

    <h4>Билеты</h4>
    <?= $this->relationRender('tickets') ?>

    <h4>Призы</h4>
    <?= $this->relationRender('winnings') ?>
    <?/*
    <h4>Друзья</h4>
    <?= $this->relationRender('friends') ?>

    <h4>Игры</h4>
    <?= $this->relationRender('levelVotes') ?>

    <h4>Ответы</h4>
    <?= $this->relationRender('puzzleVotes') ?>
    */?>
<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kosmo/profile/user') ?>" class="btn btn-default">Return to user list</a></p>

<?php endif ?>
