<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kosmo/profile/user') ?>">User</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>
    <? if ($this->user->hasAccess('kosmo.profile.edit_users')): ?>

        <?= Form::open(['class' => 'layout']) ?>

            <div class="layout-row">
                <?= $this->formRender() ?>
            </div>

            <div class="form-buttons">
                <div class="loading-indicator-container">
                    <button
                        type="submit"
                        data-request="onSave"
                        data-request-data="redirect:0"
                        data-hotkey="ctrl+s, cmd+s"
                        data-load-indicator="Saving user..."
                        class="btn btn-primary">
                        <u>S</u>ave
                    </button>
                    <button
                        type="button"
                        data-request="onSave"
                        data-request-data="close:1"
                        data-hotkey="ctrl+enter, cmd+enter"
                        data-load-indicator="Saving user..."
                        class="btn btn-default">
                        Save and Close
                    </button>
                    <button
                        type="button"
                        class="oc-icon-trash-o btn-icon danger pull-right"
                        data-request="onDelete"
                        data-load-indicator="Deleting user..."
                        data-request-confirm="Do you really want to delete this user?">
                    </button>
                    <span class="btn-text">
                        or <a href="<?= Backend::url('kosmo/profile/user') ?>">Cancel</a>
                    </span>
                </div>
            </div>

        <?= Form::close() ?>
    <?php endif; ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kosmo/profile/user') ?>" class="btn btn-default">Return to user list</a></p>

<?php endif ?>
