<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('kosmo/quiz/prize') ?>">Prize</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving Prize..."
                    class="btn btn-primary">
                    <u>S</u>ave
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving Prize..."
                    class="btn btn-default">
                    Save and Close
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting Prize..."
                    data-request-confirm="Do you really want to delete this prize?">
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('kosmo/quiz/prize') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>
    <?/*
    <div style="padding:15px 5px;background-color: #ffffff; border: 1px solid #e0e0e0; border-radius: 3px; margin-bottom: 15px;">
        <?= $this->relationRender('schedules') ?>
    </div>
    */?>
<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('kosmo/quiz/prize') ?>" class="btn btn-default">Return to prize list</a></p>

<?php endif ?>
