description = "Default layout"

[localePicker]
[loadCode]
[session]
[account]
redirect  = "/cabinet"
greetings = "/cabinet/greeting"
paramCode = "code"
==
<?php
public function onStart()
{
    if (!Session::has('showModalInfo')) {
        if (env('SHOW_INFO_ONCE')) {
            Session::put('showModalInfo', true);
        }
        $this['showModalInfo'] = true;
    } else {
        if (!env('SHOW_INFO_ONCE')) {
            Session::forget('showModalInfo');
        }
    }
}
?>
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hochland - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Hochland">
    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="{{ 'assets/images/favicon.ico'|theme }}">
    <link href="{{ 'assets/css/normalize.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/theme.css?15'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/chosen.css?3'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/selectric.css?3'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/jquery.mCustomScrollbar.css'|theme }}" rel="stylesheet">
    {#<link href="{{ 'assets/css/js-offcanvas.css'|theme }}" rel="stylesheet">#}
    <script type="text/javascript">
        var grecaptchas = [];
        var onloadCallback = function() {
            $('.g-recaptcha').each(function(index, el) {
                grecaptchas.push(grecaptcha.render(el, {'sitekey' : '{{captchaKey}}'}));
            });
        };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    {% styles %}
</head>
<body>
<header id="layout-header">
    {% partial 'header' %}
</header>
<section id="layout-content">
    {% page %}
</section>
<footer id="layout-footer">
    {% partial 'footer' %}
</footer>
{% partial 'modals' %}
<div class="overlay"></div>
<div class="loading-overlay"></div>

<script src="{{ 'assets/vendor/underscore-min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.form-validator.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bpopup.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/chosen.jquery.min.js?1'|theme }}"></script>
<script src="{{ 'assets/javascript/app.js?5'|theme }}"></script>
<script src="{{ 'assets/javascript/forms.js?1'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.maskedinput.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.mCustomScrollbar.concat.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/modernizr.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.tabslet.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.selectric.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/imagesloaded.pkgd.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/jquery.collapse.js'|theme }}"></script>
{% framework extras %}
{% scripts %}

{% if this.environment != 'dev' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101265092-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter45042914 = new Ya.Metrika({
                    id:45042914,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45042914" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>
