description = "Placeholder layout"
==
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hochland - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="Hochland">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="generator" content="OctoberCMS">
    <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
    <link href="{{ 'assets/css/normalize.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/theme.css?5'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/ph.css?1'|theme }}" rel="stylesheet">
    {% styles %}
</head>
<body>

    {% page %}

</body>
</html>
